[2016-07-15 07:58] jlevy opened #1 "Cover Microsoft Azure in matrix"
Most of these entries currently missing.

[2016-07-15 16:48] jlevy opened #2 "Use forward section links throughout"
For all topics where there are links to EC2, S3, etc, link to the section headings instead.

[2016-07-15 17:01] jlevy opened #3 "Add links to awesome-aws as for each service"
For each covered service link to sections in awesome-aws, e.g. https://github.com/donnemartin/awesome-aws#dynamodb

[2016-07-15 17:58] jlevy opened #4 "Cover SLAs of AWS and GCP"
Would be nice to summarize SLAs, and may as well compare with GCP too (as sometimes this guides choices).

[2016-07-17 04:43] jlevy opened #5 "Costs of AWS compared to other approaches"
* Basic cost comparisons
* Put in context of modeling overall all-in costs including people and oppty costs

[2016-07-17 04:45] jlevy opened #6 "Amazon Linux Yum Repo update tradeoffs / gotchas"

[2016-07-17 04:47] jlevy opened #7 "Getting started section and links"
Link to a couple of the best articles / getting started guides
Also key resources like awesome-aws, maybe also other ideas like meetup groups

[2016-07-17 04:50] jlevy opened #8 "More "construction" links to issues"
For key sections where help/new ownership is needed, link to issues

[2016-07-17 04:52] jlevy opened #9 "New section on patterns"
Start a section with "common patterns". These are general architectural patterns with links to useful blogs.

* Simple website
* Static website
* Log processing
* Analytics pipeline: Extend data source (e.g. Kinesis) and summarize data in Redshift
* High availability (within a region)
* Multi-region replication
* “serverless” deployment
* Security and IAM policies
* Source-driven infrastructure co

[2016-07-17 04:54] jlevy opened #10 "Discuss AWS credits"
How credits work and how to save money/use them. Credit expiration.

[2016-07-17 04:55] jlevy commented on #10
@alexanderatallah thoughts/help?

[2016-07-17 04:57] jlevy opened #11 "Some general blog posts to summarize/reference"
* A Comprehensive Guide to Building a Scalable Web App on Amazon Web Services, part 1 (https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1)
* 5 AWS Mistakes You Should Avoid (https://cloudonaut.io/5-aws-mistakes-you-should-avoid/)
* AWS Tips I Wish I'd Known Before I Started (https://wblinks.com/notes/aws-tips-i-wish-id-known-before-i-started/)

[2016-07-17 04:58] jlevy opened #12 "More in HIPAA compliance"
General suggestions, and where to get help.

[2016-07-17 04:58] jlevy commented on #12
@olawiberg thoughts?

[2016-07-17 05:01] jlevy opened #13 "Cover AWS Certificate Manager"
https://aws.amazon.com/certificate-manager/

[2016-07-17 05:09] jlevy opened #14 "Security: Lists of third-party services"
AlertLogic, Coalfire, etc.

[2016-07-17 05:13] jlevy opened #15 "Expand third-party visibility and cost management services"
List of third-party tools is too short.

CloudCheckr, CloudHealth, Cloudability, Cloudaware, OpsClarity, etc.

Many listed here:
http://www.cloudaware.com/cloudaware-competitive-landscape/index.html

[2016-07-17 05:17] jlevy opened #16 "Cover AWS Inspector"

[2016-07-17 05:19] jlevy opened #17 "Cover basics of SNS and push notifications"

[2016-07-17 05:19] jlevy commented on #17
@alexanderatallah another you might have great expertise on. :)

[2016-07-17 05:20] #16 closed

[2016-07-17 22:44] jlevy opened #18 "Cover autoscaling groups"

[2016-07-19 04:17] #2 closed

[2016-07-20 00:02] jlevy commented on #14
Some products:

https://dome9.com/
http://evident.io/
https://www.alertlogic.com/solutions/platform/amazon-web-services/
https://www.sophos.com/en-us/lp/aws.aspx
https://www.paloaltonetworks.com/products/secure-the-network/virtualized-next-generation-firewall/vm-series-for-aws

[2016-07-20 00:09] jlevy opened #21 "Discuss AWS marketplace"
https://aws.amazon.com/marketplace

- When to use
- Major players
- Stats or overview

[2016-07-20 03:02] #6 closed

[2016-07-21 17:16] jlevy opened #23 "Cover deploy frameworks (Asgard, Spinnaker, etc)"
At least mention major ones and who uses them, etc.
https://github.com/Netflix/asgard
http://www.spinnaker.io/

[2016-07-24 23:23] #18 closed

[2016-07-26 01:03] jlevy opened #25 "Good boto3 examples"
Link to some good examples of using boto3 for automation, for the #boto section.

[2016-07-26 16:03] jlevy opened #26 "Mention certifications"
- What certifications are available
- Who gets them

https://aws.amazon.com/certification/

[2016-07-26 16:13] jlevy opened #27 "Cover AWS Well Architected Framework"
Worth linking to and covering a few high-level points:
https://d0.awsstatic.com/whitepapers/architecture/AWS_Well-Architected_Framework.pdf

[2016-07-26 17:19] jlevy opened #28 "Link to all FAQs"
https://aws.amazon.com/s3/faqs/
https://aws.amazon.com/ec2/faqs/
etc.

[2016-08-05 00:30] jlevy opened #30 "Initial coverage of serverless"
Start on a serverless section.

Basics of Lambda (possibly its own section or merged), and some of the current serverless approaches and frameworks.

https://github.com/serverless/serverless
https://github.com/Miserlou/Zappa

[2016-08-06 23:58] jlevy opened #32 "Add links to AWS pricing pages throughout"

[2016-08-07 00:07] jlevy opened #33 "A couple more ELB gotchas"
- Aggressive healthchecks
- Autoscaler termination policies tied to ELB healthcheck status

Elaborate, put in Gotcha section for ELBs

(Mentioned in review on #31)

[2016-08-07 01:42] #32 closed

[2016-08-07 06:48] jlevy opened #34 "Mention CloudFormation Custom Resources"
Links (what others?):
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-custom-resources.html
https://medium.com/cloud-uprising/using-lambda-backed-custom-resources-in-all-aws-regions-or-at-least-faking-it-part-1-intro-d679a50f7330#.szbzij9ok

[2016-08-09 17:20] jlevy opened #35 "IoT coverage"
Links of interest:
http://www.slideshare.net/ServerlessConf/ben-kehoe-serverless-architecture-for-the-internet-of-things
https://github.com/awslabs/aws-iot-examples

[2016-08-09 17:28] jlevy opened #36 "Basic KMS coverage"
Good initial overview
http://www.slideshare.net/AmazonWebServices/encryption-and-key-management-in-aws

Compare/contrast with alternatives, including HSM, esp slide 39 there.

[2016-08-09 17:31] jlevy commented on #30
Also worth linking: http://cloudacademy.com/blog/serverlessconf-recap-serverless/

[2016-08-09 17:33] jlevy commented on #35
Items to cover (thanks to @benkehoe ):
IoT is really a pub/sub system that is applicable to IOT but useful in lots of situations.
Could build chat service on top of IOT.
Has free computation. Rules engine has free computation. If you can make your whole chat client in IOT you don't pay for any of that logic.

[2016-08-10 00:41] #28 closed

[2016-08-11 20:40] jlevy opened #39 "Improved new load balancing (ALB) coverage"
Follow-on for issues discussed #38

[2016-08-14 20:11] #39 closed

[2016-08-16 20:43] jlevy opened #42 "Better discussion of CloudFormation performance"
This is often noticed or discussed, but not sure it's widely understood.

- What is parallelized (prior to 2013 there wasn't parallelization)
- What CloudFormation scenarios can be slower than non-CloudFormation API usage?

[2016-08-16 22:16] jlevy opened #43 "More on historical AWS outages and lessons"
More links like these:
http://royal.pingdom.com/2011/04/27/the-amazon-ec2-outage-time-to-learn-from-it/

[2016-08-17 23:27] jlevy opened #44 "Improved mapping table AWS <> Google"
Include all items from here: https://cloud.google.com/docs/compare/aws/

[2016-08-19 17:44] jlevy opened #46 "Mention IAM federated access"
One blog with basics:
http://cloudacademy.com/blog/aws-security-iam-federated-access-trusted-advisor-and-consolidated-billing/

[2016-08-25 17:16] #33 closed

[2016-08-25 21:18] jlevy commented on #30
https://medium.com/@tjholowaychuk/dos-and-don-ts-of-aws-lambda-7dfcab7ad115

[2016-08-25 21:34] jlevy opened #49 "Cover S3 usage as filesystem"
Bunch of tools related to this that we should sort though. Cover basic use cases and best tools and problems.

* Overall notes on when to use EFS vs EBS vs S3

Tools:

* ObjectiveFS (homepage (https://objectivefs.com/), HN (https://news.ycombinator.com/item?id=10117506))
    * Live FS (no disconnected usage), does support concurrent clients
* https://github.com/s3ql/s3ql (HN (https://news.ycombina

[2016-08-25 21:37] jlevy opened #50 "Info on AWS market share + growth"
Summarize this chart (ideally do a clearer graphic) and cite.

https://www.srgresearch.com/articles/aws-remains-dominant-despite-microsoft-and-google-growth-surges

[2016-08-25 21:38] jlevy commented on #50
This is the most common source I've seen. Any other sources?

[2016-08-25 21:39] jlevy opened #51 "AWS ecosystem market map"
More general overview of companies in AWS ecosystem.

Preferably a market map type graphic.

[2016-08-29 18:00] jlevy opened #52 "Make section titles (anchors) unique"
Tips -> EC2 Tips etc so URL anchors are unique and stable as we edit the guide.

[2016-08-31 21:40] jlevy opened #53 "More VPC tips"
http://cloudacademy.com/blog/top-13-amazon-virtual-private-cloud-best-practices/

Another tip: Be careful not to pick a local network IP range that conflicts with the AWS VPC range.

[2016-09-01 02:20] jlevy opened #54 "Cover backups to S3"
Cover some common approaches to backup filesystems to S3.
See also #49

Options involving these tools?

* https://github.com/zbackup/zbackup
* https://github.com/restic/restic
* https://github.com/camlistore/camlistore
* https://github.com/jborg/attic
* https://github.com/borgbackup/borg a fork of Attic with more active development

[2016-09-01 02:30] jlevy opened #55 "Diagram of network costs"
Sketch out a diagram covering network costs:
Internet <-> EC2
Internet <-> CloudFront
EC2 <-> S3
region <-> region
AZ <-> AZ
VPC <-> VPC

EC2 details:
https://aws.amazon.com/ec2/pricing/#Data_Transfer

These are regional (not AZ specific) services with the same data transfer prices outbound (and zero inbound):
https://aws.amazon.com/s3/pricing/
https://aws.amazon.com/glacier/pricing/
https://aws.a

[2016-09-01 05:05] jlevy opened #57 "Coverage of EFS"

[2016-09-01 23:57] #49 closed

[2016-09-01 23:57] #52 closed

[2016-09-02 17:58] jlevy opened #58 "S3: Discuss ways to list and tally objects efficiently"
Topics:
- Need for multi-threaded crawl
- Prefix-based listings, with separators
- Maybe: Using markers to optimize if alphabet is not known

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html

[2016-09-02 18:01] adrianbg commented on #58
From Slack chat:

adrian [10:21 AM]
start a bunch of workers, any time one of them is idle, pick one of the workers that isn’t idle and split its work between them. so if non-idle worker is iterating over prefix /a/b/c, then assign /a/b/c/<middle of alphabet> to the idle worker, and tell the non-idle worker to stop when it reaches that point. it may be that the new task you assign to the idle work

[2016-09-02 18:52] jlevy commented on #58
@ThanosBaskous or @weirded perhaps you have further thoughts?

[2016-09-02 22:39] ThanosBaskous commented on #58
I haven't had to do this myself but maybe something like the first half of [this](https://blogs.aws.amazon.com/bigdata/post/Tx1XU0OQAZER3MI/Turning-Amazon-EMR-into-a-Massive-Amazon-S3-Processing-Engine-with-Campanile) would work if you have a well-distributed keyspace (use EMR / hadoop to extract the full list)? Or is this heavier weight than you are looking for?

I think you touch on something si

[2016-09-05 02:26] jlevy opened #59 "Cover Elastic Network Interfaces"
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html

[2016-09-06 00:33] jlevy opened #60 "IAM: Mention temporary credentials and identity federation"
https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html

[2016-09-20 01:04] jlevy opened #61 "Mention/discuss Cloud Foundry and PCF"
https://github.com/cloudfoundry
https://pivotal.io/platform

[2016-09-26 18:44] jlevy opened #63 "CloudWatch section"
Need to start this! (Under construction is fine.)

[2016-09-26 19:23] jlevy opened #64 "Cover Elasticsearch"
AWS' own Elasticsearch service is growing in popularity. Discuss basics, when to manage yourself vs with AWS' managed service, etc.

[2016-09-26 19:26] jlevy opened #65 "Cost management: Consolidate and expand"
Merge all cost management into one place and forward link where appropriate.

@nitingithub to expand coverage.

[2016-09-26 21:39] jlevy commented on #64
@nitingithub want to take this one?

[2016-09-28 03:03] jlevy commented on #65
@nitingithub over to you. :)

[2016-09-29 03:46] ThanosBaskous opened #67 "Cover SimpleDB"
https://aws.amazon.com/simpledb/

[2016-09-29 03:49] ThanosBaskous opened #68 "Add information on service maturity / support / stage of life"
Example: Services like SimpleDB aren't well-supported and probably shouldn't be used.

Called out in [this comment](https://github.com/open-guides/og-aws/pull/66#discussion_r81059620).

[2016-09-30 18:04] jlevy commented on #67
Also discuss how obsolete it is now. #68

[2016-10-01 00:17] #51 closed

[2016-10-01 23:59] jlevy opened #69 "Cover Convertible RIs"
https://aws.amazon.com/about-aws/whats-new/2016/09/amazon-ec2-convertible-reserved-instances-and-the-reserved-instance-regional-benefit/

[2016-10-02 00:02] jlevy opened #70 "Terminology: ELB, ALB, CLB"
Seems like AWS' usage is now that ELBs are the overall class and they are now divided into Classic and Application LBs. Should we switch to use CLB and ALB everywhere?

[2016-10-02 00:05] ThanosBaskous commented on #70
That seems correct, but it's probably worth including a note about the historical use of the term (since lots of references / blog posts / etc. will probably continue to use "ELB" to refer to what is now the "CLB".)

[2016-10-02 00:05] jlevy commented on #70
Yeah agreed.

[2016-10-05 01:44] #55 closed

[2016-10-05 01:49] #70 closed

[2016-10-05 21:17] jlevy opened #74 "Make prettier with logo"

[2016-10-06 03:57] jlevy opened #76 "Better TOC and subsection links"
Some sort of better solution (bulleted list or table) to make it easier and more clickable to jump down the doc from the first page.

[2016-10-06 03:58] jlevy opened #77 "Thumbnails for tables and images in TOC area"

[2016-10-06 04:50] nitingithub commented on #65
@jlevy Sent #78  for this.

[2016-10-07 01:16] nitingithub commented on #65
Part1 Committed. Part 2 in progress. Planning to send a PR in a couple of weeks.

[2016-10-08 19:18] #74 closed

[2016-10-08 23:02] rokka-n opened #86 "Note about s3 "random key names""
"🔸Note that sadly, the advice about random key names goes against having a consistent layout with common prefixes to manage data lifecycles in an automated way."

I think these are two different problems: s3 performance and object lifecycle management.

I think in general the guide should to be less biased about particular implementations and concentrate solely on Amazon's services pros and cons.

[2016-10-08 23:37] jlevy commented on #86
The intended point is that you can't have randomness on the start of a key, as well as folder-based lifecycles. You have to pick.

Perhaps you can clarify the concern? This isn't a bias as much as an observation that you can't do both, given S3's design.

[2016-10-08 23:39] jlevy commented on #77
Fixed in #82

[2016-10-08 23:39] #77 closed

[2016-10-08 23:50] #76 closed

[2016-10-09 00:39] rokka-n commented on #86
Maybe reference to amazon's doc about performance optimization would be useful in this case?
http://docs.aws.amazon.com/AmazonS3/latest/dev/request-rate-perf-considerations.html

There is still a way to have keys prefixed with some sort of naming scheme and have hashes added after, it is mentioned in that guide. So lifecycle rules can be configured based on prefixes (example from aws s3 cli guide)

[2016-10-09 23:24] jlevy commented on #86
Based on the explanation offered from AWS on partitioning, in the situation where you have high qps and large numbers of keys, adding the fixed prefixes _could_ have a performance penalty when compared with keys starting with the full randomness (as is the preferred examples in that link). But partitioning seems to be dynamic, too, so it may not be the case. Do you have any concrete perf observati

[2016-10-10 17:42] jlevy opened #91 "Code samples subsections"
Add a new kind of subsection with code samples. Include on all services where we have code samples. Start with @lynnlangit 's list!

[2016-10-10 18:01] jlevy opened #92 "Integrate Redshift items from @lynnlangit"
https://docs.google.com/spreadsheets/d/1YG2RnZqNbssnigmVwGgjfELLyYdMtkItaPZDmQ9vbmQ/edit#gid=360830704

May depend on #91.

[2016-10-11 16:49] jlevy opened #94 "Cover more on certifications"
Some basics plus this great overview:
https://gist.github.com/leonardofed/bbf6459ad154ad5215d354f3825435dc

[2016-10-11 17:23] zoellner commented on #64
This would probably need some comment on how AWS is lacking behind quite a bit regarding the available ES versions and the implications to get a system running securely in a VPC

[2016-10-11 17:35] jlevy commented on #64
@zoellner yeah, what I've heard too. That's exactly the sort of tip we should put in!

[2016-10-11 17:38] jlevy commented on #64
PR welcome, or if you'd like to put that tip here (any links/details to add?) we can incorporate it.

[2016-10-11 18:37] jlevy opened #98 "More about security of IAM roles for EC2"
From HN discussion, we should have more about security implications.
https://news.ycombinator.com/item?id=12687088

Full explanation and pros/cons?

[2016-10-11 19:42] itaysk commented on #1
Is there any help still required after PR #96 ?

[2016-10-11 19:57] hyandell commented on #91
It would be great to get a code license set before doing this. Copyleft sample code, especially under the 'do not use for code' CC-BY-SA license is painful.

Some options to consider are the CC0 license or MIT license (possibly with the attribution part removed if that matches your desires).

[2016-10-11 20:04] itaysk opened #104 "Microsft Azure description"
The way you described Microsoft Azure under "🚪AWS vs. other cloud providers" as a good fit for only existing Microsoft shops is a little diminishing. Would you be willing to consider changing that text?
I know this is almost 'off topic' since the goal of this doc is to be an AWS guide and not a comparison between providers, but if there's going to be any reference there, at least let's try to make

[2016-10-11 20:46] vincent-dm opened #107 "Addition for route53"
A gotcha for me was that a hosted zone and a domain name are something different in Route53. Because they are created together automatically when buying/transfering a domain through AWS, it is not clear that your domain is the place where you configure nameservers, which should correspond with the NS record of any Hosted Zone (can be in another account).

I use my bastion account to keep the regis

[2016-10-11 21:49] thesandlord commented on #44
I've created this PR which addresses some of these: https://github.com/open-guides/og-aws/pull/108

[2016-10-12 00:14] chris-griffin opened #118 "S3/Cloudfront SSL info is incorrect"
The [info about a static website served via S3/Cloudfront](https://github.com/open-guides/og-aws#s3-tips) incorrectly states that SSL cannot be served via a custom domain. There are also a few typos. I'll create a pull request now

[2016-10-12 00:19] ClydeMachine opened #119 "Services that Support IPv6"
[As of Oct 6th 2016,](https://aws.amazon.com/about-aws/whats-new/2016/10/ipv6-support-for-cloudfront-waf-and-s3-transfer-acceleration/) a number of AWS services now support IPv6. Given the gravity of the IPv4 -> IPv6 transition that's been going on for more than a few years (decades?), this may be a worthwhile point to include, not to mention that this can be a major deciding factor for whether or

[2016-10-12 01:37] #118 closed

[2016-10-12 01:51] jlevy opened #123 "Start section: OpsWorks"
Basics around when/how it's useful and a few tips, to get this section started.

[2016-10-12 02:58] jlevy opened #127 "Basic coverage (and editor) for Elastic Beanstalk"
First draft of the basics of what it does and when to use. Can expand later.

Need an editor, too.

[2016-10-12 03:14] jjcf89 opened #130 "Legend icons should have tooltip"
just incase you've forgotten what the bird means :)

[2016-10-12 03:15] ThanosBaskous commented on #130
👍

[2016-10-12 04:24] dcosson commented on #64
In addition to version lagging (which right now is not actually too bad, they bumped up to 2.3 I believe in July), they have scripts disabled. And there are some relatively straightforward uses that require scripts in elasticsearch, e.g. sorting an aggregation by query score is one I just ran into.

[2016-10-12 05:25] bfred-it commented on #130
Tooltips can be added via anchor:

[code]

Also linking back to the Legend section would make it usable on mobile (where tooltips don't exist).

[2016-10-12 11:14] rjcrystal opened #148 "addition to Tools and Services Market Landscape"
We've been using logdna as our logging service and its really great. you pay for what you use and one can add unlimited number of hosts. its not great as loggly but its catching up very fast.
[logdna](https://www.logdna.com)

[2016-10-12 12:58] mikhailadvani opened #150 "Gotcha while migrating to RDS"
<U+1F538>**DB migration to RDS:** While importing your database into RDS ensure you take into consideration the maintenance window settings. If a backup is running at the same time, your import can take a considerable longer time than you would have expected.

A migration which took us 30 minutes during dry runs, took us 8 hours while migrating production

[2016-10-12 14:18] jorn-k commented on #61
Agreed; should be there in PaaS discussions. Perhaps, too, AppFog.

[2016-10-12 15:13] ramubhai opened #160 "IPv4 Vs IPv6"
Please mention somewhere or put a table about which services support IPv6 and which don't. Does any service apart from S3 supports it as on now?

[2016-10-12 15:17] davidfrey opened #161 "Slack channel invite not working?"
The invite tool accepts my e-mail address and tells me to check my inbox, but no invite ever arrives.

[2016-10-12 15:19] jlevy commented on #160
Sure. It's a good q. Let's document info here on the issue then migrate it with a PR.

[2016-10-12 15:38] stevear22 commented on #161
thought it was just me :)

[2016-10-12 15:49] jlevy commented on #161
Looking at it. In the meantime, so we don't lose you, send an e-mail to og-aws@lexikon.io asking to join and I'll do it manually!

[2016-10-12 17:27] lynnlangit commented on #127
I can take this one, if needed.  LMK

[2016-10-12 17:35] lynnlangit commented on #98
Do you mean using IAM Roles rather than IAM users for EC2? If so, I can take this one. LMK

[2016-10-12 17:37] lynnlangit commented on #60
I have coded this in production (around IoT) I can take this if needed. LMK

[2016-10-12 17:39] lynnlangit commented on #9
You might consider adding 'Data Warehouse' to this list - here's my [blog post](https://lynnlangit.com/2016/08/05/building-a-data-warehouse-with-aws-redshift-and-partners/) on this.

[2016-10-12 18:28] lynnlangit opened #168 "More coverage of AWS Marketplace?"
Is there interest in more coverage of the AWS Marketplace?  I have done [some work](https://aws.amazon.com/blogs/aws/new-aws-digital-library-for-big-data-solutions/) with that team as a contractor (around Big Data in particular), so I would be happy to add more information, if needed.

[2016-10-12 18:38] jcrites commented on #98
Some additional context concerning that HN thread: https://news.ycombinator.com/item?id=12670316

To summarize: since IAM Roles for EC2 can be accessed by any process running on an EC2 instance, certain use-cases warrant taking extra care, such as restricting which processes may connect to the EC2 Instance Metadata Service, to ensure that untrusted processes may not connect.

Overall, IAM Roles fo

[2016-10-12 18:39] jlevy commented on #168
For sure. Anything that is in keeping with the contribution guidelines (brief, practical, thoughtful, and related to AWS) is welcome! If it's focused, do a PR, and if it's more amorphous let's do Slack+Quip first.

[2016-10-12 19:31] datherra commented on #60
I could try to help as well.
Currently using in infra for "enterprise internal system" sort of app.

[2016-10-12 22:08] jlevy commented on #161
This should be fixed now. If you don't already have an invite feel free to try it out again! https://og-aws.slack.lexikon.io/

Comment here or e-mail that address if you still see issues.

[2016-10-12 22:08] #161 closed

[2016-10-12 22:56] jlevy opened #175 "Cover Classic -> VPC migration"
A selection of tips about this

[2016-10-12 23:26] lynnlangit commented on #168
I would be happy to start a small section using the Slack+Quip process (as we did for AWS IoT), just send me the link

[2016-10-12 23:29] richadams commented on #175
Some quick thoughts:

* Make sure to "Enable ClassicLink DNS Support" so that you get the benefit of split DNS, and can use EC2 hostnames without worrying about which IP address is being resolved.  When enabled, this means any ClassicLinked instances can use the EC2 hostnames to refer to their private addresses.
** This will usually require "DNS Hostnames" and "DNS Resolution" to be enabled for yo

[2016-10-13 02:14] jlevy opened #179 "S3 correction about us-east-1 region"
This item is out of date, as has been brought to our attention by AWS.

[2016-10-13 02:36] jlevy commented on #179
I think it's best not to delete entirely, but just to note the history, as many of us well remember this problem. "Previously, the us-east-1 region was replicated across coasts, which led to greater variability of latency. This is _no longer the case_." Ideally with links.

Mr @max-zanko do you agree? over to you on this? :)

[2016-10-13 03:28] #179 closed

[2016-10-13 04:01] laurio commented on #98
Maybe related - an example of a possible attack vector: https://www.reddit.com/r/programming/comments/56m2sk/ec2s_most_dangerous_feature/d8ku70p?context=3

[2016-10-13 15:26] alexbilbie commented on #160
* CLB / ALB: http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-internet-facing-load-balancers.html
* S3: http://docs.aws.amazon.com/AmazonS3/latest/dev/ipv6-access.html
* CloudFront: http://docs.aws.amazon.com/console/cloudfront/ipv6
* WAF: http://docs.aws.amazon.com/waf/latest/developerguide/web-acl-ip-conditions.html

[2016-10-13 18:29] nickflawler opened #194 "Correction: 2015 AWS revenue"
2015 AWS revenues were $7.88 billion. 7.4% of Amazon's total revenues but 41% of operating profits.
http://phx.corporate-ir.net/phoenix.zhtml?c=176060&p=irol-newsArticle&ID=2133284

[2016-10-14 00:09] JCBarry commented on #63
I'm working through this and should have something in a few days.

[2016-10-14 01:09] lky1001 opened #195 "Can I translate into korean with my team?"
Hi, I found nice guide for aws.

I want to fork and translate into korean this document.

Can I?

@humbledude

[2016-10-14 04:42] jlevy commented on #195
Thanks @lky1001 for offering!

Yes, we would like to see translations. Keep in mind the Guide is changing all the time.  For a process we'll likely use something like [this one on another project](https://github.com/jlevy/the-art-of-command-line/blob/master/CONTRIBUTING.md#translations).

(1) Are you willing to be a maintainer, updating the translation regularly? And (2) are you a native-fluency K

[2016-10-14 04:59] lky1001 commented on #195
@jlevy OK. Thanks.

Answer for your question.

(1) No problem
(2) Yes. I am korean.

@humbledude is my friend. We work together.

[2016-10-14 06:06] jlevy commented on #195
OK, great! Steps are just to fork and create a new file. Please call it "translations/ko.md" (new directory to include all future translations). Let us know when it's ready to review. Thank you!

[2016-10-14 13:10] #150 closed

[2016-10-14 14:21] mikhailadvani opened #201 "Cover SES"

[2016-10-15 20:30] ThanosBaskous opened #212 "Cover EC2 Run Command"
https://aws.amazon.com/ec2/run-command/

Execute commands across a fleet.

[2016-10-15 23:21] ThanosBaskous commented on #179
FWIW I agree that we should have a note that maintains the historical behavior and issue - it makes it easier to square what is said in the guide with what readers might see in older tutorials and blog posts around the internet.

[2016-10-16 03:47] jlevy opened #215 "Cover git-secrets in security section"
https://github.com/awslabs/git-secrets

[2016-10-16 03:51] ThanosBaskous opened #216 "New Section for AWS Mistakes"
Common mistakes made by AWS users - especially new ones.

Categories for of mistakes by organization type - Startup vs Fortune 500 company

Mistakes WIP: https://quip.com/XIuQAcaClBVV

[2016-10-16 17:58] ThanosBaskous opened #221 "Add 16k user-data limit as EC2 limitation/gotcha"
Include note about workaround (put script in S3, retrieve that and execute it).

Include reference:
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html#instancedata-add-user-data

[2016-10-16 19:15] jlevy commented on #35
@benkehoe @lynnlangit :

These were some notes I had from a convo with Ben a while back. Lynn has since created a whole IoT section.

Ben, maybe you'd be up to reviewing/giving feedback?

And Lynn, Ben has a bunch of experience using IoT, so hope these notes or his feedback can help.

Thanks to you both!

[2016-10-16 19:17] jlevy commented on #35
Let's close this issue once you guys confer and decide on additions (if any).

[2016-10-17 01:19] lynnlangit commented on #216
To clarify the idea is to pool our thoughts via the Quip document, then format/export it to markdown, for inclusion via a pull request here -- likely as new section in the main document.

[2016-10-17 19:29] jlevy commented on #175
@max-zanko

[2016-10-17 21:57] jlevy opened #230 "Mention us-east-2 (Ohio) region"
- Mention different US regions
- That Ohio-Virginia price is lower
- Update diagram with footnote

https://aws.amazon.com/blogs/aws/now-open-aws-us-east-ohio-region/

[2016-10-18 06:06] number5 opened #232 "AWS CLI support AWS Certificate Manager since version 1.10.0"
In https://github.com/open-guides/og-aws#aws-product-maturity-and-releases it stated AWS Certificate Manager don't have CLI support, but it's actually supported (via `aws acm` command) since awscli 1.10.0

See https://github.com/aws/aws-cli/blob/master/CHANGELOG.rst#1100

[2016-10-18 07:39] jlevy commented on #98
@jcrites @laurio thanks for the info. Further thoughts welcome.

@lynnlangit I'm not sure I have a deep enough opinion on this. Sounds like opinions differ. Perhaps we should summarize pros+cons? If you're up for taking it, please do.

[2016-10-18 07:41] jlevy commented on #98
@max-zanko too.

[2016-10-19 05:17] lynnlangit commented on #215
added as PR to IAM

[2016-10-19 22:47] max-zanko opened #238 "Investigate if "INSERT INTO … SELECT" applies automatic compression"
A follow up to #198: need to investigate whether "INSERT INTO … SELECT" applies automatic compression to the columns.

If the destination table has been created with no column encoding specified as part of the DDL, does "insert from select" apply the automatic compression on the new table?

[2016-10-20 02:04] jlevy commented on #221
@abdulirfan3 How about this edited version, for when you PR:

-       Instance user-data is limited to [16KB](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html#instancedata-add-user-data). (This limit applies to the data in raw form, not base64-encoded form.) If larger data is needed, it can be downloaded from S3 by a user-data script.

(It'd be even better if there's a

[2016-10-20 09:09] raajheshkannaa commented on #232
@number5 Good catch. I've sent a pull request with the change. Thank You.

[2016-10-20 16:18] #232 closed

[2016-10-20 16:19] jlevy opened #243 "Link to AWS books"
From @abdulirfan3 :

Amazon Web Services in Action
Serverless Single Page Apps
AWS Lambda in Action
The Terraform Book (availabe late 2016)
Python and AWS Cookbook(this one is old, but still valid)

What others?

[2016-10-21 06:58] rokka-n commented on #86
👍 good stuff

[2016-10-21 06:58] #86 closed

[2016-10-21 20:50] lynnlangit commented on #35
I haven't got any other feedback here - is this closed now?

[2016-10-21 21:11] jlevy commented on #35
I'll close as we do now have a good section. We can take discussion to Slack.

[2016-10-21 21:11] #35 closed

[2016-10-22 05:38] kimschmidtsbrain commented on #64
I can help here. I think Elasticsearch Service is one of the most powerful yet unknown service...as long as I ramp up my GitHub game lol ;-)

[2016-10-22 05:42] kimschmidtsbrain commented on #194
Interesting, got different numbers from another source. Thank you for this, I'll try to confirm your statement!!!

[2016-10-22 05:43] kimschmidtsbrain commented on #168
On it

[2016-10-22 05:46] kimschmidtsbrain commented on #60
I have a YouTube video (not edited well) on this...

[2016-10-22 05:48] kimschmidtsbrain commented on #58
Found  open source code that takes your S3 bucket items & make them into a website for downloading & archival for non-tech people. Would that be of interest? I locked down access via S3 policy limiting access to certain IPs

[2016-10-22 05:49] kimschmidtsbrain commented on #50
I can take this on. Have all stats

[2016-10-22 05:51] kimschmidtsbrain commented on #26
Been asked by 4 online courseware companies to create various AWS Cert Exam Preps. Can help here, too

[2016-10-22 05:52] kimschmidtsbrain commented on #21
This is my baby! (& Lynn Langit's)!!!

[2016-10-22 05:53] kimschmidtsbrain commented on #15
Can do & was hired to launch one in the US

[2016-10-22 05:53] kimschmidtsbrain commented on #14
This all falls under the AWS Marketplace.

[2016-10-22 05:55] kimschmidtsbrain commented on #12
I know the only AWS HIPAA Compliant certificate company's CEO, ex-MSFT CEO, Cloudticity

[2016-10-22 05:57] kimschmidtsbrain commented on #1
2 years ago I did a comparison of Azure, AWS & GCP for the Physicians Insurance Association of America. Been 2 years, but can help if needed. At the speed of rapid change, what I know from then would need major updating.

[2016-10-22 21:18] kimschmidtsbrain commented on #243
1. You can get these neat little books on most services and more at Amazon.com **FREE**. Type in the search bar "AWS Books" and you'll get a list. They're all electronic format (ie, Kindle, etc.). They give you the basics + a walk-through of using it. Example: https://www.amazon.com/CloudFormation-User-Guide-Amazon-Services-ebook/dp/B007S28IUW/ref=sr_1_11?ie=UTF8&qid=1477167075&sr=8-11&keywords=AW

[2016-10-23 02:12] jlevy commented on #1
I think #96 brings us to where this can be closed. However, if either of you have additional entries, do PR!

[2016-10-23 02:14] #1 closed

[2016-10-23 02:15] jlevy commented on #104
Believe this is now fixed with #111. If you think further changes are needed, do let us know or file another issue.

[2016-10-23 02:15] #104 closed

[2016-10-23 02:16] jlevy commented on #107
@vincent-dm seems like a fair point to explain. Would you be up for filing a PR with this (stated very briefly, ideally with a link or two) in the Route 53 tips section?

[2016-10-23 02:18] jlevy commented on #69
In progress #132

[2016-10-23 03:39] lynnlangit commented on #5
This is a very slippery slope because a) base costs change, usually get reduced, over time and b) it's tricky to compare services apples-to-apples because service details differ.  My opinion would be to link to vendor pricing calculator tools and leave it at that.

[2016-10-24 06:04] jlevy commented on #194
For sure, we should correct/update. Thanks @nickflawler @kimschmidtsbrain ! If anyone has other info let us know, but assume a press release from Amazon is the best source to link to.

[2016-10-24 06:05] jlevy commented on #215
Fixed in #235

[2016-10-24 06:05] #215 closed

[2016-10-24 06:21] jlevy opened #256 "Cover Lambda container reuse"
Link to https://aws.amazon.com/blogs/compute/container-reuse-in-lambda/ or similar?

[2016-10-24 09:53] #201 closed

[2016-10-25 00:25] jlevy opened #257 "More on when Certificate Manager works"
From discussion w @lynnlangit in #253

These could be separate points. This might be moved/consolidated with the current point about "Certificates issued by the **Certificate Manager** can't be used outside of the services that support it. Imported certificates, however, can still be used elsewhere." in a new Limitations and Gotchas subsection.

[2016-10-25 03:10] jlevy opened #258 "Tip: Always use UTC on EC2 instances"
As an important general tip re managing servers.

limbera [4:13 PM]
ended up changing my timezone and it worked

jlevy [5:34 PM]
Hm. We should def have some gotchas about timezone management...

[5:34]
I’ve always advocated UTC on all machines. Anyone have other opinions?

thanos [5:36 PM]
I’m also in favor of UTC everywhere - all machines, all database fields - with user-local conversion applied

[2016-10-25 04:35] jlevy opened #259 "More discussion of monitoring solutions"
APM and visualization both. Open source and (major) SaaS offerings. And how they compete/complement CloudWatch.

Also some articles, e.g. http://blog.takipi.com/datadog-vs-signalfx-vs-new-relic-vs-wavefront-which-dashboard-should-you-choose/

[2016-10-25 08:45] artemnikitin commented on #257
I will do it.

[2016-10-25 11:59] sushantbajra opened #262 "Open guide for Azure"

[2016-10-25 17:47] #258 closed

[2016-10-25 17:53] jlevy commented on #262
We agree this would be a great project, but will require a handful of initial writers and editors.

Do you have deep experience w Azure in any area? If so can you share it and and are you willing to help?

Same for anyone else interested in this. Ping thanos or jlevy on Slack. Thanks!

[2016-10-25 17:55] jlevy opened #264 "Update network costs diagram with Ohio region"
Follow on to #230

[2016-10-25 18:08] weirded commented on #58
The binary search approach is the best we could think of, as well - but obviously, it requires knowing your character set and general make up of the keys in the bucket, so building it as a generic library is hard.

Another approach is to use a secondary store (such as DynamoDB or RDS) to keep track of the keys. You can use S3 Event notifications to keep the store updated, possibly with a "slow bac

[2016-10-25 18:12] kimschmidtsbrain commented on #194
Getting stats that can be shared today/tomorrow.

Sincerely,

Kim Schmidt
949-735-8505
@DataLeader, @WearableQueen
https://www.linkedin.com/in/kimschmidt1

On Sun, Oct 23, 2016 at 11:04 PM, Joshua Levy <notifications@github.com>
wrote:

[2016-10-25 19:09] lynnlangit commented on #262
I am a MSFT Data Platform MVP and an Azure Insider (non-employee advisor to product team).  I know many MSFT Azure MVPs and RDs (they all have extensive production experience with Azure).  It's really a question of time with these folks.  Of course, even though there are around [900 Azure MVPs currently](https://mvp.microsoft.com/en-us/MvpSearch?kw=Azure), we would also be interested in contributi

[2016-10-25 19:23] kimschmidtsbrain commented on #259
I wrote a comparison between Botmetrics and Trusted Advisor when I consulted for them. Can add to this.

Let me gather my notes.

Kim

[2016-10-26 15:24] ISchwarz23 opened #269 "Amazon Product Advertising API"
Hi all,

as I had to use the Amazon Product Advertising API, I have realized that there is no support for this in the official amzon-java-sdk. Therefor I have created a simple library that helps developers the create and signe the request URLs for the PA-API. (You can find it https://github.com/ISchwarz23/Amazon-Product-Advertising-API-URL-Builder)

Would it be helpful to mention this library in y

[2016-10-27 01:33] max-zanko opened #270 "Cleanup PRs #136 and #183"

[2016-10-27 02:12] ThanosBaskous commented on #269
Hi @ISchwarz23, thanks for filing this for discussion. I think that your library looks useful - something that I would consider trying if I ever ran into the same problem - but I think that it isn't right for inclusion in the guide right now. We are trying to ensure that most / all library mentions in the guide are well accepted / "standard" solutions to an AWS problem - down the line, if it gets

[2016-10-27 02:12] #269 closed

[2016-10-27 20:01] jlevy opened #274 "Tip about using UTC on RDS (and databases in general)"
Follow on to #258 and discussion on #268:

A bullet point strongly warning against using non-UTC on databases (with ❗) would be a good idea. Could go in RDS section but link to the section with tip on server timezones.

Side note on scope: This is a general tip, not really specific to AWS, but philosophically, if the tip is small and highly useful like this, we should make the judgement call to in

[2016-10-27 20:17] danhermann commented on #274
While not an AWS-specific issue, developers may be more likely to run into TZ problems on AWS since there are often more occasions to cross TZs (developer location, AWS location(s), customer location(s), etc.) in cloud-deployed application that in on-premise deployments. This tip would apply to lots of AWS services (EC2, etc.) so perhaps it makes sense to add a general tip about TZs and UTC? If so

[2016-10-27 20:21] danhermann commented on #130
+1. I can never remember what the different icons mean.

[2016-10-28 06:47] jlevy commented on #274
Agree. Note we do already have the tip here: https://github.com/open-guides/og-aws#tips
But whatever enhances this and the RDS tips would be great.

[2016-10-30 22:15] jlevy commented on #26
Basics are in place, but we need more, handled by #94.

[2016-10-30 22:15] #26 closed

[2016-10-30 22:41] rjhintz commented on #194
[SEC 10-K](http://phx.corporate-ir.net/phoenix.zhtml?c=97664&p=irol-sec&control_selectgroup=Annual%20Filings) filing corroborates @nickflawler's number of $7.88B for 2015 net sales/revenue.

[2016-10-31 01:10] #194 closed

[2016-10-31 17:18] jlevy opened #285 "More links on federated users and MFA for IAM"
From discussion in Slack:

In security section:

- Mention that it's possible to enforce MFA-only via IAM policy (use case is #237 from @pingles )
- Mention federated users (e.g. AD FS) and also how it is one way to get MFA

Links to these (or anything better?) in security section:

https://aws.amazon.com/blogs/security/how-to-delegate-management-of-multi-factor-authentication-to-aws-iam-users/
ht

[2016-10-31 18:23] benkehoe commented on #285
https://aws.amazon.com/blogs/security/how-to-enable-mfa-protection-on-your-aws-api-calls/

[2016-10-31 19:49] rjhintz commented on #43
Just parking this link here, though it's about the 2011 outage, since it and the follow on it references are a good resource. [The Big List Of Articles On The Amazon Outage](http://highscalability.com/blog/2011/4/25/the-big-list-of-articles-on-the-amazon-outage.html)

[2016-11-01 12:44] bwagner5 commented on #98
Another note is the use of Federated Users using SSO from a company's internal directory service and then using Assume Role when using the API. Obvious benefit is that if an employee is terminated, access is revoked from all systems including AWS at the same time.

[2016-11-01 12:56] danhermann commented on #43
It was smaller in scale, but the DNS outage two weeks ago took down a number of AWS services in the us-east-1 region. My apps couldn't access SQS and others reported problems accessing DynamoDB and Kinesis. https://news.ycombinator.com/item?id=12763768

[2016-11-01 23:20] rjhintz commented on #23
@jlevy Where do you see this fitting into the README file? I might start a branch outlining candidate entries, but I want to put it where you see fit.
cc @ThanosBaskous

[2016-11-01 23:37] jlevy commented on #98
@bwagner5 good point. I think this is wrt EC2 roles only, but that elaboration should go into #285 . If you have experience on federated users, would love your thoughts there.

@jcrites or @lynnlangit sounds like you both have good experience here. Do either of you want to look at writing a couple bullet points on these?

[2016-11-01 23:40] lynnlangit commented on #98
Maybe I am out of my league here, but I feel like if we emphasize the best practice of using IAM roles in lieu of IAM users (w/keys) for EC2 instances, then we cover the most common use cases.  I am open to discussion based on other's experience though...

[2016-11-01 23:45] jlevy commented on #168
@kimschmidtsbrain assigning you as I think you are the most likely person to get this done in Nov. But obviously, use us all to help w editing, and I can help with the starting a Quip doc part if needed. :)

[2016-11-02 00:22] rjhintz commented on #274
Parking this link here,though it's more generic than AWS centric. Many references.

[Explaining Time Zones and Best Practices for Configuring Time on Servers](https://www.macstadium.com/explaining-time-zones)

[2016-11-02 01:21] kimschmidtsbrain commented on #168
Will do. Will I replace or add to what you already have? Also, there's category topics for each category naming best vendors to use, like security divided into 3-4 sub-categories that I have to replicate myself. I think each warrants an image, because the subcategories, if all on 1 image, might be confusing. Thoughts? Yeah, if you could start the quip for me, it'll make me go there :-)

[2016-11-02 01:21] kimschmidtsbrain commented on #168
So 8 images in all for each category

[2016-11-02 17:33] lynnlangit commented on #30
I've used this one:

- [Claudia.js](https://claudiajs.com/)

[2016-11-03 04:44] kimschmidtsbrain commented on #168
will have it done by Sunday night. need to show you a sample image of a category of preferred vendors

[2016-11-03 18:46] lynnlangit commented on #27
added as PR #289

[2016-11-03 21:01] jlevy opened #290 "A bit more on Amazon Linux compatibility etc."
Cover a couple items: CentOS/RedHat version it's based on. Also what about update schedules; do they differ from CentOS/RedHat or Ubuntu etc?

---

Saving discussion for later:

bgdnlp [9:31 PM]
Amazon Linux does NOT use systemd

[9:34]
Thankfully, as far as I'm concerned. And I don't think they announced any plans for it.

[9:36]
Amazon Linux is based on centos, centos is not backwards compatible

[2016-11-03 21:43] vjain8905 commented on #290
Adding the rest of the conversation:

jlevy [1:56 PM]
Yes, agreed.... but also it is still a factor when thinking things through.
That is, how long can you run “yum update” or “apt-get update” or whatever and expect it to behave reasonably.

vjain8905 [1:57 PM]
Based off the release-notes and quote. You can launch a 2011 version, and in theory, be able to yum-update till the end of time

jlevy [1:

[2016-11-04 15:27] bgdnlp commented on #290
Amazon Linux is based on (started as?) CentOS / RHEL / Fedora 6. I'm pretty sure that it was saying that at some point, but it now probably differs too much from CentOS and branding it as such would cause issues. Either way, the packages that it uses are compatible with CentOS / RHEL / Fedora 6. The EPEL repository that one can enable in /etc/yum.repos.d/epel.repo is for version 6.

The /etc/os-re

[2016-11-04 15:41] VincentMarmiesse commented on #54
Hello,

Any news on this point?

[2016-11-04 17:13] jlevy commented on #64
dorrin [8:22 AM]
I'd like to hear stories from people who switched from managed ElasticSearch to building and maintaining their own cluster

bgdnlp [8:56 AM]
for what is worth, I think the "pets vs cattle" thing is a broad generalisation that ignores too many issues. in fact, I also think that it is dangerous from a security perspective.

rjhintz [10:01 AM]
@dorrin Regarding: Elasticsearch. This w

[2016-11-04 17:59] DorrinPk commented on #64
Price can also be a factor. ElasticSearch service's instances are more expensive than regular EC2 instances.

[2016-11-04 21:05] rjhintz opened #291 "Connectivity: Compare/Contrast Direct Connect/VPN with Cloud Exchanges"
Sites often connect to AWS using [VPN or Direct Connect](https://aws.amazon.com/answers/networking/aws-single-data-center-ha-network-connectivity/), for the single data center case. AWS Answers also covers [multiple data centers to AWS](https://aws.amazon.com/answers/networking/aws-multiple-data-center-ha-network-connectivity/).

Cloud exchanges have emerged as an alternate way to connect, especia

[2016-11-05 02:42] untergeek commented on #64
Piping in from the field here. AWS ES does not allow use of the /_cluster/state/metadata endpoint. This causes problems with supporting tools, like Elasticsearch Curator.

See https://github.com/elastic/curator/issues/717

[2016-11-05 14:30] rjhintz opened #293 "HPC - High Performance Computing"
Start collecting content/links for a possible section on HPC:

* [PyWren](https://github.com/ericmjonas/pywren) from @ericmjonas
* [Making S3 (almost) as fast as local memory](http://ericjonas.com/pywren_s3.html)
* [Serverless Map/Reduce](http://tothestars.io/blog/2016/11/2/serverless-mapreduce)
* [reference architecture for running serverless MapReduce](https://github.com/awslabs/lambda-refarch-m

[2016-11-05 15:03] rjhintz opened #294 "Kubernetes"
Gather content/links for added info on Kubernetes, current mentioned in [ECS Alternatives and Lock-in](https://github.com/open-guides/og-aws#ecs-alternatives-and-lock-in)

* [Five Months of Kubernetes on AWS discussion where author shows up](https://www.reddit.com/r/aws/comments/52w7ub/five_months_of_kubernetes_on_aws/)
* [Running Kubernetes on AWS EC2](http://kubernetes.io/docs/getting-started-gu

[2016-11-05 15:43] rjhintz opened #295 "Add to Openstack Content"
Openstack is mentioned most explicitly in [Related Topics](https://github.com/open-guides/og-aws#related-topics) as a private cloud alternative, which has traditionally been its deployment.

[Openstack Omni](https://github.com/platform9/openstack-omni) aims to "provide a standard OpenStack API for managing hybrid and multi-cloud environments" and starts with AWS. I'm not sure how it compares to, s

[2016-11-07 07:17] jlevy commented on #295
I'm not sure of how much Openstack Omni is used, but perhaps deserves a mention. We should have a private cloud expert help review/write a small addition on private cloud open source solutions, and maybe title that section better, e.g. "AWS-compatible Clouds".

This should be broadened to include Eucalyptus too.
https://github.com/eucalyptus/eucalyptus

[2016-11-07 15:09] rjhintz commented on #295
I'm going to carve out just the Openstack on AWS part, since I'm not clear ewhy one would want to do it. I expect to work on:

- what it is,
- utility (if any),
- relation to previous work like Eucalyptus,
- pros/cons

Others are welcome to work on the rest of the private cloud content, but IMO it often seems to degrade into political ranting.

[2016-11-08 01:15] rjhintz commented on #221
Apropos, I ran across this that discusses not only getting userdata from S3, but security issues. [Is it secure to store EC2 User-Data shell scripts in a private S3 bucket?](http://stackoverflow.com/questions/29932355/is-it-secure-to-store-ec2-user-data-shell-scripts-in-a-private-s3-bucket)

(Don't want to butt in. Just reviewing issues that may not be big efforts.)

[2016-11-08 16:04] ikben opened #300 "Elastic Load Balancing (ELB/CLB) pricing to EC2 should be 0"
I think that there's a mistake in https://github.com/open-guides/og-aws/raw/master/figures/aws-data-transfer-costs.png

It indicates that cross-AZ traffic between ALB/CLB and EC2 is $0.01/GB, but I think it should be 0 (at least for the CLB)

From http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-crosszone-lb.html:

I couldn't find the same kind of clear language in the

[2016-11-08 19:03] rjhintz commented on #130
I did a "down payment" PR on this to try to bring things up to date. There may be a better way to keep icons current with tooltips going forward that eludes me now.

Icons may be an ongoing maintenance challenge.

[2016-11-08 19:16] jlevy commented on #130
This definitely would be really helpful if we can implement it. But with current workflow, it will be really hard to maintain or enforce. I think we may have to hold off on it until we develop a new workflow (such as a post-processing script or a different site hosting it altogether).

[2016-11-08 20:33] jlevy commented on #300
Thanks for the catch. That quote does indicate you are not charged for CLBs some of the time.

On the other hand, the EC2 pricing page suggests it is $.01 outbound:
https://aws.amazon.com/ec2/pricing/on-demand/
https://files.slack.com/files-pri/T2JBBNK18-F2Z7NJEJU/pasted_image_at_2016_11_08_10_05_am.png

Based on that, it sounds like it may be $.01 when cross-zone load balancing is off, and 0 when

[2016-11-08 23:32] rjhintz opened #303 "AWS China Special Considerations"
There's occasionally discussion about expectations for interacting with AWS China and special considerations. This issue collects links and discussion for appropriate updates to the Open Guide.

* [If I open an Amazon China account and host services there, will I be able to access them from my BackEnd (outside China)? ](https://www.reddit.com/r/aws/comments/58ffuj/if_i_open_an_amazon_china_account

[2016-11-09 00:14] rjhintz commented on #300
Posted a question on the AWS forums, [Application Load Balancer: Charge for data transfer cross zone?](https://forums.aws.amazon.com/thread.jspa?threadID=242737)

[2016-11-10 00:27] rjhintz opened #304 "Put List of Specific AWS Services in Alpha Order"
The list is long enough that it's a pain to scan by eye. It's not as long as it will be once we include other services such as SQS.

[2016-11-10 00:31] rjhintz commented on #17
Where would this be placed in the list of Specific AWS Services? (See also #304)

[2016-11-10 00:32] rjhintz opened #305 "Start section: SQS"
Basic coverage of SQS, even just a placeholder.

[Quip collaborative doc - work in progress](https://og-aws.quip.com/94opAa8GnNbJ)

-------
[AWS SQS doc](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/Welcome.html)

[AWS SQS forum](https://forums.aws.amazon.com/forum.jspa?forumID=12)

See [SNS or SQS?](https://www.reddit.com/r/aws/comments/5bw7gn/sns_or_sqs/) comment str

[2016-11-10 18:35] lynnlangit commented on #304
We've had some discussion on this already.  There are a number of different approaches we could take to organizing the list of AWS services. We would be interested in the opinion of our readers on the organization.

Currently we organize by **frequency of usage**, i.e. things like IAM, S3 and EC2 first, as they are the most used services.

We could organize **alphabetically by service name**, or w

[2016-11-10 20:01] jlevy commented on #304
Yes. Alphabetically across all services seems unhelpful to me, since very important services get lost within the long list. (Same issue with the AWS console.) I think the right answer longer term probably involves a hybrid of grouping and categories.

We could also align it with the categories here, which currently starts with "must-know infra" and has other large grups.
https://github.com/open-gu

[2016-11-10 20:36] jlevy commented on #304
If anyone has thoughts/feedback on the big buckets at https://github.com/open-guides/og-aws#which-services-to-use
do put down your thoughts here too.

[2016-11-10 20:53] rjhintz commented on #304
The advantage to alpha order is that it's easily understood and avoids groups of only 1 member, such as IoT.

Names for any ordering are a bit of a puzzle, too. For absolute newcomers, there seems to be a need to decode "ec2" to "compute." Types of storage are a minefield, too. "S3" doesn't exactly shout "object storage."

The disadvantage to grouping as families of services is that the grouping c

[2016-11-10 21:07] jlevy opened #308 "Mention S3 server-side encryption"
https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html

Deserves a basic explanation and a link also to (no expanding) KMS section.

[2016-11-10 22:14] jlevy commented on #304
This issue should not block any new sections. @rjhintz if you begin a SQS section, we should review/discuss in Slack+Quip as usual to get to first draft state. But for positioning let's put it right in front of Kinesis, since it's probably similar in popularity and type of service. Thanks!

[2016-11-12 03:10] ThanosBaskous commented on #300
Thanks for posting the question, @rjhintz - will keep an eye on the post for answers.

[2016-11-12 07:18] bgdnlp commented on #304
FWIW, I'd go with alphabetical. I'm thinking the most common way of using the guide, after the first time, would be to go to the list of services, click the service you're interested in and read that section, instead of reading the whole thing. Alphabetical order would be practical in this case.

Plus, it avoids discussion on what should go where. For example, I don't think that SQS should go with

[2016-11-14 02:21] rjhintz opened #313 "CONTRIBUTING.md: add details of how to handle Git workflow"
CONTRIBUTING.md should probably include details of proper Git workflow to minimize extraneous commits and facilitate merges.

I'd propose Chef's [Community Contributions](https://docs.chef.io/community_contributions.html#community-contributions) as a good example to adapt.

[2016-11-14 18:20] lynnlangit commented on #313
I agree, but think we should write our own simplified version of this

[2016-11-15 17:40] jlevy commented on #294
If this expands, it should probably go under or next to https://github.com/open-guides/og-aws#containers-and-aws and be linked from https://github.com/open-guides/og-aws#ecs-alternatives-and-lock-in

[2016-11-15 17:45] jlevy commented on #243
Most of these are in place, but would be good to have an owner for this section.

@kimschmidtsbrain 's book suggestion looks worth mentioning:
https://www.amazon.com/AWS-Scripted-Automate-Deployment-Resilient/dp/1503137775

[2016-11-15 17:51] abdulirfan3 commented on #243
@jlevy

I can take ownership of this, but could you please point me where/what section to put this under and I can file a PR.

[2016-11-15 17:54] jlevy commented on #243
@abdulirfan3 Cool. This is where the section is:
https://github.com/open-guides/og-aws#further-reading

The bullets (blogs, books, etc) there should be broken out as subsections (so we can link to them) and any additional books should be listed.

Appreciate if you can discuss/chat in Slack as needed to identify any other books too!

[2016-11-15 17:57] jlevy commented on #57
Fixed in #299

[2016-11-15 17:57] #57 closed

[2016-11-17 00:43] rjhintz commented on #313
Added some proposed language as a [Quip doc](https://og-aws.quip.com/Bv2mAVanO75j)

[2016-11-17 02:59] jlevy commented on #94
On the new certifications: https://www.reddit.com/r/aws/comments/5cl9jx/three_new_aws_certifications_announced_advanced/d9xbik4/

[2016-11-17 03:00] jlevy commented on #94
Also, should we cover training for certifications, e.g.
https://acloud.guru/
https://cloudacademy.com/aws-certifications-training/

[2016-11-17 16:20] jkokenge commented on #94
I'm currently studying for the certs, i.e. I just passed the Dev Cert on Tuesday, so I've been using the above mentioned resources and others every day. I can write up a preliminary bit about what I've found this weekend and submit a pull request.  It'll be a starting point, at least.

[2016-11-17 16:32] jlevy commented on #94
Thanks @jkokenge . Do see what we already have, and see what you can improve:
https://github.com/open-guides/og-aws#certifications

Focused fixes (like adding the new certs) are always welcome, or a full expansion/rewrite (which will likely take more discussion).

[2016-11-17 16:42] jlevy opened #317 "Mention deployment platforms like Skyliner, Convox, etc."
Minimally, we should mention these exist:
https://github.com/convox/rack
https://www.skyliner.io/

What others?

[2016-11-17 16:47] jlevy commented on #317
A few brief notes or guidelines on what use cases each works well for would be even better. Or links to blogs/further info.

[2016-11-17 17:29] bgdnlp commented on #317
http://www.spinnaker.io/ and maybe https://github.com/Netflix/asgard.
Netflix replaced asgard with spinnaker.

Maybe some other Netflix tools.

I don't know anything about any of them, I just know they exist and wanted
to test them for a long time, but no time for it.

On Nov 17, 2016 6:47 PM, "Joshua Levy" <notifications@github.com> wrote:

[2016-11-18 06:37] jlevy commented on #23
Closing and including with #317

[2016-11-18 06:37] #23 closed

[2016-11-18 19:00] bwagner5 commented on #43
Oct 2012 Outage and Netflix's Post Mortem:
http://techblog.netflix.com/2012/10/post-mortem-of-october-222012-aws.html

EBS Outage can cause problems for EBS backed storage. Netflix switched to almost completely instance-store backed EC2.

[2016-11-19 17:26] vincent-dm commented on #107
Alright, I created a pull request: https://github.com/open-guides/og-aws/pull/318

[2016-11-19 22:13] jlevy opened #319 "More on EC2 instance status checks and events"
Some coverage in the EC2 section on instance status checks (system reachability, instance reachability) and maybe Events, e.g. "Hey, 200 of your instances are going to be rebooted in 2 days!"
- What status checks are and what they mean
- What kinds of notifications happen and why, and how to plan for them

[2016-11-19 23:25] tomharrisonjr commented on #319
Occasionally, an instance will have issues that AWS automatically checks -- System and Instance reachability.  A system check failure is due to a case where either the actual machine instance or networking or other problem occurs and must be resolved by AWS.  Instance reachability errors occur if the operating system is failing, memory or disk space is exhausted; and typically you can intervene to

[2016-11-20 18:49] AstroTom opened #322 "Snowball was released Oct 2015"
Snowball was released in oct 2015 (https://aws.amazon.com/about-aws/whats-new/2015/10/aws-import-export-snowball/)
not as you have in your table

[2016-11-20 22:47] ThanosBaskous commented on #322
Good catch @AstroTom! Are you willing to submit a PR? If not, I'll find someone else (or do it myself).

[2016-11-21 03:22] tomharrisonjr opened #324 "Section on how to get support, paid and unpaid"
AWS offers technical support at several levels.  All users can post messages on forums, and they are searchable within AWS and via Google.  The information very often outdated, infrequently answered by AWS staff, and sometimes incorrect.

Paid options include developer support, business support and enterprise support.

https://aws.amazon.com/premiumsupport/compare-plans/

Tip: suck it up and buy b

[2016-11-21 04:01] jlevy commented on #107
Fixed in #318

[2016-11-21 04:01] #107 closed

[2016-11-21 04:25] jlevy commented on #324
@tomharrisonjr this seems to be more or less covered already here: https://github.com/open-guides/og-aws#getting-help-and-support

Specific additions/corrections/expansions are welcome, either discussed here or as (focused) PRs.

The chat tip may be a good addition like this.

The tip about always using business support is probably not balanced enough. Serious businesses in even in the low-million

[2016-11-21 04:49] tomharrisonjr commented on #324
Agreed on all points.

With regard to support, I have been part of startups not having the money to pay, and done ok for the most part.  I have also worked at companies having large and competent operations teams who both have the skills and experience to manage a complex fleet of equipment, and the willingness and maturity to accept that AWS is a different beast than the on-prem or co-lo faciliti

[2016-11-21 16:29] wamoyo opened #328 "AWS Lambda now supports environment variables"
Hey now! https://aws.amazon.com/about-aws/whats-new/2016/11/aws-lambda-supports-environment-variables/

How cool is that?

Just remove the gotcha I suppose?  https://github.com/open-guides/og-aws#lambda-gotchas-and-limitations

[2016-11-21 21:28] bgdnlp commented on #63
I believe this can be closed now?

[2016-11-21 22:36] jlevy commented on #43
With a little [creative Googling](https://www.google.com/search?q=inurl:https:%2F%2Faws.amazon.com%2Fmessage%2F) found a list of major post-mortems:

[DynamoDB, SQS, AutoScaling, CloudWatch in us-east-1, 20??-09-20](https://aws.amazon.com/message/5467D2/)
[EC2, EBS, RDS in eu-west-1, 20??-08-07](https://aws.amazon.com/message/2329B7/)
[EBS and EC2 in ap-southeast-2, 20??-06-04](https://aws.amazon.

[2016-11-22 03:39] jlevy commented on #63
Indeed! Thanks to contributions from both of you! @bgdnlp @JCBarry .

[2016-11-22 03:39] #63 closed

[2016-11-22 08:50] cristim commented on #43
There was also some impact during the relatively recent Dyn DNS DDoS, because AWS internally used it for hosting DNS records for some of its services.

[2016-11-22 09:23] anilgkurian commented on #328
That's cool

[2016-11-24 01:44] ThanosBaskous commented on #328
Excellent (and yiassou, Costa)! Would you be willing to submit a PR? Not a big deal if not - in that case, I'll pick it up.

[2016-11-24 04:27] wamoyo commented on #328
@ThanosBaskous Για σου, Θαναση! Wow, Greeks on GitHub. Who would have thought : )

I would love to submit a pull request! I have yet to do that on GitHub, are you willing to help me get it right? I'll google around, but I might need some help.

[2016-11-24 04:40] #328 closed

[2016-11-29 01:05] jlevy opened #338 "More on identifying AZs"
We should more prominently mention that AZ naming varies from account to account.
And also mention
- that there are tricks to determine which zone is which
- that you may be able to have these aligned across your own accounts if desired

---

From discussion:

abdulirfan3 [9:01 AM]
one way to figure out if your AZ is same as my AZ is to look at the spot instance pricing as that will remain the sam

[2016-11-29 01:45] rjhintz commented on #300
Just to note that I bumped this in the forums some time ago, but still no answer.

[2016-11-29 23:40] max-zanko opened #339 "Update the S3 section with new Storage Gateway interfaces"
https://aws.amazon.com/about-aws/whats-new/2016/11/aws-storage-gateway-provides-a-file-interface-to-objects-in-your-amazon-s3-buckets/

[2016-11-30 17:40] jlevy opened #340 "Mention new Organizations support"
https://aws.amazon.com/about-aws/whats-new/2016/11/announcing-aws-organizations-now-in-preview/

In preview but we should mention its existence.

[2016-11-30 18:42] jlevy opened #341 "Mention new Aurora Postgres"
https://twitter.com/AWSreInvent/status/804019375699132416

[2016-11-30 19:25] DorrinPk commented on #64
Troubleshooting the ES service is also a problem. You can't see the instances behind the ES cluster so if you can't fix an issue by adding more memory or storage then you should contact support.

[2016-11-30 19:27] DorrinPk commented on #64
AWS has a list of ES service limits as well : http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/aes-limits.html Mainly no scripting, plugins, heap size limit, max instance count.

[2016-12-01 05:35] jlevy opened #342 "Gotcha: CloudTrail logging of S3"
Object level logging is not on by default.
Need old bucket level logging in, or new (2016-11) policy to log access.

[2016-12-09 11:48] cristim opened #349 "New section: ElastiCache"

[2016-12-15 20:24] ClydeMachine commented on #119
Issue fixed by #347 .

[2016-12-15 20:24] #119 closed

[2016-12-16 20:42] jlevy opened #358 "Cover security on root account"
We have some coverage about the root account and MFA here:
https://github.com/open-guides/og-aws#security-and-iam-tips

But we don't give real recommendations about how to secure and manage the root account.

- Using mailing lists
- Securing mailing lists
- MFA of accounts and root account

From discussion:

bgdnlp [6:35 AM]
yeap. we use email distribution lists for the root user

[6:35]
highly re

[2016-12-20 19:28] jlevy opened #359 "More on limits and awslimitchecker"
Make sure we have all these links and a link to https://github.com/jantman/awslimitchecker

---

n4j [3:44 AM]
@roopa, if your account is new then there is a soft limit on how many instances you can launch

[3:45]
Check your limits at https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#Limits: and request a limit raise

ben11kehoe [6:32 AM]
@roopa https://aws.amazon.com/ec2/faqs/#How_many_

[2016-12-21 23:44] jlevy commented on #359
pw [6:40 PM]
@tomharrisonjr: sounds good, thanks.

[6:42]
@roopa this is absolutely a support ticket thing. AWS are much stricter on EC2 limits now.

cquinn [6:56 PM]
@pw Stricter in what sense?

pw [7:06 PM]
@cquinn: New accounts getting zero instance limits.

[7:06]
Zero instance limits for regions you don't normally use. I wonder if there's some ML going on.

n4j [8:25 PM]
@roopa, there are two

[2016-12-27 18:29] Omnipresent opened #361 "Resource to harden AMIs before being put on AWS Marketplace"
I have not been able to find any resource that practically shows how to harden an AMI before putting it on the Marketplace.

This guide from Amazon doesn't present much https://aws.amazon.com/articles/9001172542712674

Would appreciate additional resources.

[2016-12-27 19:37] thildebrant commented on #361
They provide a guide when you register as a marketplace "seller". Also available to partners I believe.

Sent from my iPhone

[2016-12-27 19:52] Omnipresent commented on #361
I'm logging into the seller marketplace portal but don't see anything. Do you have a resource handy?

[2016-12-27 20:33] Omnipresent commented on #361
Found this https://aws.amazon.com/articles/0155828273219400

[2016-12-27 21:27] thildebrant commented on #361
Google search gives me http://awsmp-loadforms.s3.amazonaws.com/AWS_Marketplace_-_Seller_Guide.pdf
Though it's marked confidential for sellers only

Sent from my iPhone

[2016-12-27 21:39] thildebrant commented on #361
I don't know if we should rely on that link as it's super focused on the marketplace. Rather a better path would be on how to secure AMIs in general.

[2016-12-27 22:49] Omnipresent commented on #361
I agree with that approach.

[2017-01-03 23:15] LawrenceHwang opened #365 "SSL cert has expired for the page to join the Slack channel"
Not sure if this is the best place to provide feedback. The Let's Encrypt SSL cert has expired for the page to join the Slack channel.

The links to the Slack channel in the Readme.md: https://og-aws.slack.lexikon.io

Thanks,

Lawrence

[2017-01-07 16:21] rjhintz commented on #300
Still no official answer in the forum, though someone remarked that:
` this has been answered in the LB deep dive session at re:Invent:

https://www.youtube.com/watch?v=qy7zNaDTYGQ

The answer was "no, no charge for cross-AZ traffic sent by ALBs"`

[2017-01-11 22:43] srikiraju opened #369 "New section: Database Migration Service"
DMS could use some love

[2017-01-16 23:44] #365 closed

[2017-01-19 17:37] jlevy opened #378 "Improved coverage/comparision of CloudFormation, Terraform, Troposphere"
To track current discussion. Doc with some bigger additions already started: https://quip.com/gz6WAanGXNj1

[2017-01-20 22:14] jlevy commented on #64
Another major security gotcha to list:
http://www.zdnet.com/article/first-came-mass-mongodb-ransacking-now-copycat-ransoms-hit-elasticsearch/

[2017-02-14 21:57] ajkerrigan-mdsol commented on #308
This is a related discussion from #questions today:

ahmed [9:11 AM]
I think I already know the answer to this question but need confirmation. With SSE-S3 since Amazon is managing the encryption technically if I’m using SSE-S3 for both buckets I can decrypt the contents of both with a regular IAM user that has access to the buckets since it’s just AES256, right?

jose [9:14 AM]
Yup should be trans

[2017-02-14 22:59] bgdnlp commented on #308
Personal contribution: http://www.neant.ro/2017/02/aws-encryption-types/

Could be shaped into a better form than added to the guide.

[2017-02-21 11:42] Ashex commented on #308
I did some further testing, here's the goodies:

The IAM user must have the following permissions to use SSE-KMS:

[code]

This allows them to upload and download objects with SSE-KMS. Any user lacking those permissions will not be able to GET encrypted objects .

To restrict the CMK to S3 usage  the key policy must have the following condition:

[code]

In the S3 Bucket policy you can then requir

[2017-02-21 12:03] bgdnlp commented on #308
Right. Here's a bucket policy that requires KMS encryption using a specific key, courtesy of AWS support:
[code]

[2017-03-02 17:55] jlevy opened #385 "Mention an AZ is separate physical infra"
From discussion — let's mention/link this as it's a common question.

thanos [9:43 AM]
From https://www.youtube.com/watch?v=JIQETrFC_SQ&feature=youtu.be&t=1428
"An availability zone is 100% always without ever an exception, a completely independent building. It is a different datacenter."

[2017-03-02 17:56] jlevy commented on #43
Latest one: [S3 and many other services in us-east-1, 2017-02-28](https://aws.amazon.com/message/41926/)

[2017-03-02 21:19] DavidTPate commented on #385
It would be good to mention also that there is low latency between AZs. This was taken from the docs:

[2017-03-03 07:08] mclang commented on #54
[Bacula](http://blog.bacula.org) is also tried and true option for doing backups. And maybe, even though this is about backing up to S3, [Tarsnap](https://www.tarsnap.com) should be mentioned as alternative, in case somebody wants to make backups outside AWS?

[2017-03-06 22:19] jlevy commented on #30
Another one:
https://cloudncode.blog/2017/03/02/best-practices-aws-lambda-function/

[2017-03-11 01:49] jpoley opened #391 "price updates needed on S3 & Glacier"
in section Storage Durability, Availability, and Price

[2017-03-12 22:47] jpoley opened #392 "IAM Warnings"
Services without IAM (or ones that have issues):
Quicksight, Server Migration, Lex, Lightsail, Chime, StepFunctions(limited), Managed Services

[2017-03-14 21:02] rdymek opened #393 "S3 as a Filesystem section - you should not use any of these tools"
S3 should never be attempted to be mounted as a filesystem. This is a bad idea and will result in very poor performance. s3fs and any other tool like mentioned in this are attempting to use s3 in a way it should not be used.

s3 is *not* a file system, and is object not block level. If one wishes to use it this way, there are methods which are considered best practice.

One option is to use the s3

[2017-03-15 06:09] bgdnlp commented on #393
I don't think this is the place for such debates and I believe this issue should be closed. If you'd like to open a pull request to better explain the downsides of using S3 as a filesystem, sure. But my understanding is that you want to take down the whole section, and I disagree with that.

These tools clearly have their place, otherwise there wouldn't be a bunch of them and in active use. Someti

[2017-03-15 12:04] rdymek commented on #393
On Wed, Mar 15, 2017 at 1:09 AM, Bogdan Luput <notifications@github.com>
wrote:

This is not a debate, as its direct from Amazon as being bad practice. I am
an amazon Trainer and consultant for many fortune 500 companies. This is
bad practice. The reason these tools exist is that many people do not know
how to use s3 properly and these tools are terrible for that purpose.

Agreed that the storage

[2017-03-15 12:07] rdymek commented on #393
Whats cheaper than an sftp t2.micro instance mounting s3? Not running the
t2.micro at all and letting s3 be the source removing sftp all together.
Simply send files directly to s3. Thats part of the point; the use of these
tools do nothing than highlight a more expensive, less efficient, less
scaleable design.

On Wed, Mar 15, 2017 at 7:04 AM, Ryan Dymek <rdymek@gmail.com> wrote:

[2017-03-15 12:31] bgdnlp commented on #393
S3 buckets are public. Some people/companies have a problem with that and want to limit access, so using S3 directly is not the right choice. Storage gateway can mitigate that problem, but not everyone is a Fortune 500 company and can shrug off hundreds of dollars every month on something that has "cheap" as one of the main arguments going for it (S3). Similarly, not everyone has Fortune 500 probl

[2017-03-15 17:34] FernandoMiguel commented on #393
@bgdnlp s3 buckets arent public by default (well, no more than any other element of Public Cloud).
assuming you trust amazon trust model, you are in total control of permissions and access level.

[2017-03-15 18:08] QuinnyPig commented on #393
Completely agree that it's not a best practice-- but it is a reality of how companies use S3.

The disclaimer that's there is a good middle of the road; condescendingly telling people "you're doing it wrong!" isn't going to win hearts and minds, and decreases the utility of the guide to many real-world scenarios.

[2017-03-15 18:16] bgdnlp commented on #393
By public I mean that they are accessible from the public internet and they
are not subject to VPC restrictions. Which means that (1) an attacker would
only need an authorized user's credentials to gain access, which goes
against multi layer security, and (2) it's an access point for an inside
user to exfiltrate unauthorized data.

The only way I know of to protect a bucket on the network level is

[2017-03-15 18:19] FernandoMiguel commented on #393
whitelist an authorized set of IP addresses. Assuming that isn't practical,
another way I know of is to set up some kind of gateway to S3 and allow
access from that gateway only. Something the storage gateway would be great
for, except for the price. Yet another way involves DNS hijacking, but I'm
not going to go there.

a bucket can be made accessible only from a VPC (s3 peering).
then all you ne

[2017-03-15 18:40] DavidTPate commented on #393
@rdymek Could you please provide us with a link + quote to where this is mentioned as a bad practice by Amazon. I think it would be helpful to include within the current document for people to take a look at.

[2017-03-15 18:43] bgdnlp commented on #393
That's what I said. I think. Gateway, proxy, jump host, whatever you want to call it. You upload the file to that host and the host uploads it to the bucket. Unless you mean something that does some kind of port forwarding, in which case still that's what I said, DNS hijacking. Because an S3 bucket name will always resolve to a public IP address, in which case the jump host will be ignored. Unless

[2017-03-15 22:30] rdymek commented on #393
1) s3 direct access is much more secire thwn s3fs (meets just about
every/anycompliance requirement). By introducing s3fs you actually weaken
the security tremendously.
2) IAM or bucket policies can control access to allow for conditions
restricting to only certain addresses if wanted/required. In fact
conditions could go far more granular even including time of day, etc.
3) when using s3fs you ar

[2017-03-16 07:09] bgdnlp commented on #393
Agree with about half your points, but none of them solve the problem I mentioned. Though it sounds like you didn't read my example, which is understandable. Specifically:

S3 access from anywhere is exactly what this use case wants to prevent. It's a point against S3, not for it.

Isn't that basically what the guide is also doing? The language is not as strong, but it mentions the pitfalls of usi

[2017-03-17 14:24] rdymek commented on #393
The point about 9... s3 has the CAPABILITY of being accessed from anywhere,
but could be locked down directly to single IP's (a single line in an IAM
constraint), single times of day, heck even for just a single transaction.
Please tell me WHY FTP would be better here?

But even if FTP is wanted, *most* FTP clients support direct s3 now. Again,
why/how would FTP be a better option?

Ryan

On Mar 1

[2017-03-17 14:37] bgdnlp commented on #393
I already said why/how in my previous posts. Company wants employees to be able to access S3 on the road or at home, but without exposing S3 to the world on a network level. Or exposing the world to S3. That is normally solved with VPN. But that doesn't work with S3. IP whitelisting is not practical when it would mean whitelisting half the world, or even one country. Again, see my previous replies

[2017-03-17 14:53] FernandoMiguel commented on #393
how is (s)ftp any more secure than s3 policies?
it's also exposed to the world. it will grant the user access to all the same files.
S3 can be access from a VPC only, so you can whitelist a VPN endpoint

[2017-03-17 15:22] bgdnlp commented on #393
No, it isn't exposed. Yes, you can whitelist it, but it's useless, as I already said.

But nevermind, that's been quite enough of that.

[2017-03-17 17:10] rdymek commented on #393
S3, using aws cli, using secret keys along with MFA. No reason to manage
IP's, and meet the requirements of the customer. Exposed keys are a
non-issue with MFA. One could take this a step farther with federation with
Active Directory and use of roles. Point is, these tools do not solve a
problem, but create more problems than they solve. So why would they be
suggested?

The FTP example is not uniq

[2017-03-17 17:19] JCBarry commented on #393
I've been following along here a bit and having just reread the section on S3 in question here, I feel like the guide adequately disclaims that there are inherent issues with this approach.  However, in the spirit of educating people, it needs to be mentioned as a possible approach and obviously needs to be vetted for each individual use case.

Nothing at AWS is one-size-fits all.  This guide's mi

[2017-03-17 18:30] jlevy opened #395 "Better comparison of S3 filesystem access including Storage Gateway, filesystem tools, etc.)"
A summary/rewrite of the "S3 as a filesystem" bullet point that helps the user navigate the various answers to the question "how do I get filesystem-like access to S3" and summarizes pros and cons including the s3fs-like tools (often not preferred but sometimes expedient), storage gateway (more standard but also more expensive), and anything else.
http://docs.aws.amazon.com/storagegateway/latest/u

[2017-03-17 18:32] jlevy commented on #393
Lot of discussion here, which is fine, but to bring it back to being more actionable:

- Many of these s3 filesystem-type tools are used (for good or ill), so we need to mention them; we want to give an overview and guidance and do not want to remove mention of popular tools, even bad ones, as that makes the guide less useful
- When we do want to mention gotchas and reasons that it may be ill-advi

[2017-03-24 20:19] jlevy opened #399 "Add IAM article"
Via @ehammond : http://start.jcolemorrison.com/aws-iam-policies-in-a-nutshell/

[2017-03-24 22:50] lynnlangit commented on #399
great article!

[2017-03-25 02:43] ThanosBaskous commented on #399
👍  agreed

[2017-03-25 18:29] ThanosBaskous commented on #391
Thanks for addressing this @jpoley!

[2017-03-25 18:29] #391 closed

[2017-03-25 18:30] ThanosBaskous commented on #392
👍 This is a good general gotcha. I think that it would fit best as an additional column on the "AWS Product Maturity and Releases" section.

[2017-03-26 00:44] ketsalot1 opened #402 "Bounty sorce"

[2017-03-26 00:47] QuinnyPig opened #403 "I'm not allowed to open an issue."

[2017-03-26 00:47] QuinnyPig opened #404 "Issue not found"

[2017-03-26 00:49] #404 closed

[2017-03-26 00:49] #403 closed

[2017-03-26 04:31] #402 closed

[2017-03-27 00:51] lynnlangit opened #405 "AWS Athena usage?"
I am doing a bake-off between AWS [Athena](http://docs.aws.amazon.com/athena/latest/ug/what-is.html) and Google BigQuery for a client.  I am wondering about customer usage of Athena.  Is anyone out these using it in production yet?  If so, should I start a small section on Athena for this og-aws?

[2017-04-04 02:29] jpoley opened #409 "Service Matrix"
NFS is not block storage, its file based with locking.  Ceph or Cinder are examples of block storage.
NFS Is what EFS is built on.

[2017-04-05 01:40] mwarkentin commented on #369
The biggest gotcha we've run into so far: postgres -> postgres CDC replication causes all booleans to be set to `true` 😕

[2017-04-10 16:28] maximrozin opened #411 "Bandwidth cost between EC2 and S3"
The bandwidth cost diagram does not include the NAT Gateway. Traffic from an EC2 instance in a private subnet to S3 is *not* free. It is charged on the NAT Gateway like "internet" traffic, unless you have a VPC Endpoint for S3 attached.

[2017-04-13 01:26] ThanosBaskous commented on #405
@lynnlangit Thanks for noting the absence of Athena. Another member of my team recently used Athena for ad-hoc analysis of ELB logs and the experience seemed like it was good. I'd definitely be supportive of your creating a section in the guide.

[2017-04-13 23:52] QuinnyPig opened #420 "Puppet Labs now called Puppet"
Minor issue, but probably worth updating the landscape graphic.

[2017-04-15 02:20] QuinnyPig commented on #411
That doesn't match my understanding; can you help me see how you're arriving at this conclusion? I'm probably missing something!

From https://aws.amazon.com/vpc/pricing/:

[2017-04-15 02:28] QuinnyPig commented on #300
Are we willing to accept "no charge for cross-AZ traffic sent by ALBs" is canonically correct, or should I corner an AWS employee at this week's Summit?

[2017-04-15 02:33] rjhintz commented on #300
They said in the forums they'd answer there. We got an indirect answer at
Re:invent, but not in the forums, although I bumped it once or twice.

Why can't they give us a definitive answer in the forums AWS has
established for this sort of clarification or by changing the docs?

Rich
+1.510.984.2571

On Apr 15, 2017 2:28 AM, "Corey Quinn" <notifications@github.com> wrote:

[2017-04-15 02:34] QuinnyPig commented on #300
Terrific question. Time to shake the bushes...

[2017-04-15 02:50] jlevy commented on #300
How about a tag for that. :)

[2017-04-15 03:16] QuinnyPig commented on #409
Where are you seeing NFS referred to as block storage?

[2017-04-15 03:31] QuinnyPig commented on #361
Closing this issue for now; feel free to reopen it if anyone has a good example.

[2017-04-15 03:31] #361 closed

[2017-04-17 15:59] #123 closed

[2017-04-21 07:09] trenton opened #429 "SSL certificate on og-aws-slack.lexikon.io expired on 2017-04-17"
Appears to have expired on 2017-04-17

<img width="986" alt="screen shot 2017-04-21 at 12 08 24 am" src="https://cloud.githubusercontent.com/assets/140476/25266645/bdc60d5c-2626-11e7-99af-df6b6d897c23.png">

[2017-04-22 18:49] ThanosBaskous commented on #429
@jlevy can you take a look at this when you get a chance?

[2017-04-24 00:38] jlevy commented on #429
Yes, fixed. Switched to an ACM cert so hopefully the buggy renew process will now be avoided. :P

[2017-04-24 00:38] #429 closed

[2017-04-24 00:39] jlevy commented on #429
Thanks @trenton for reporting!

[2017-04-24 01:42] ThanosBaskous commented on #429
Thanks for fixing, @jlevy! Thanks for reporting, @trenton!

[2017-04-24 04:14] trenton commented on #429
Confirmed it working. Was able to join the channel tonight. Thanks for the fix.

[2017-04-27 16:16] #349 closed

[2017-04-27 17:52] QuinnyPig commented on #342
You going to submit a PR on this, @jlevy?

[2017-04-27 21:56] QuinnyPig commented on #340
Mentioned; closing issue.

[2017-04-27 21:56] #340 closed

[2017-04-27 21:56] #385 closed

[2017-04-27 21:57] QuinnyPig commented on #324
@tomharrisonjr Did this ever get turned into a PR?

[2017-05-01 17:53] QuinnyPig commented on #243
Closing this issue, as there's now a section for it. Yay!

[2017-05-01 17:53] #243 closed

[2017-05-01 17:54] QuinnyPig commented on #405
Absolutely. Any chance your bake-off produced anything we can include / link against, @lynnlangit?

[2017-05-01 17:55] #359 closed

[2017-05-01 22:17] QuinnyPig commented on #303
Good find-- want to curate / build a PR for a China section?

[2017-05-02 00:30] rjhintz commented on #303
@QuinnyPig If you're asking me, I had some time around last November when I kicked off some issues and a few PRs, but scheduling issues have been a problem lately. I do hope to get back to the project.

[2017-06-02 00:30] ThanosBaskous opened #445 "Flag HIPAA-compliant services"
Flag services that are HIPAA-compliant - one idea would be to add a column in the "AWS Product Maturity and Releases" section.

https://aws.amazon.com/compliance/hipaa-eligible-services-reference/
https://aws.amazon.com/about-aws/whats-new/2017/06/cloudfront-s3-transfer-acceleration-waf-shield-are-now-hipaa-eligible/

[2017-06-03 03:01] jlevy commented on #445
👍 good idea

[2017-06-12 17:49] jlevy opened #448 "Basic info & links on OpenVPN setup"
This is such a common use case it should be mentioned in the networking/VPC section — what are the best links/tutorials on getting it to work?

Worth mention as well? https://pritunl.com/

[2017-06-12 17:49] jlevy commented on #448
gauravbajaj [7:18 AM]
Has anyone congmfigured openvpn on AWS?

gsr619 [7:19 AM]
yes....we have openvpn configured for our env.

mwarkentin [7:37 AM]
@gauravbajaj Whenever someone brings that up, inevitably I see someone mention https://pritunl.com/ - might be worth looking into (I haven’t used myself)
Pritunl
Enterprise VPN Server
Free open source enterprise distributed VPN server. Virtualize your

[2017-06-12 18:49] HUSSTECH commented on #448
I guess this is the starting point, as it's top result when googling "openvpn aws". This is the guide from the openvpn folks themselves with instructions on how to set up using their provided AMI.
https://docs.openvpn.net/how-to-tutorialsguides/virtual-platforms/amazon-ec2-appliance-ami-quick-start-guide/

[2017-06-13 07:31] k3ypad commented on #448
Shameless plug for my site-site guide using open/freeswan https://twilblog.github.io/vpn/ipsec/aws/2015/09/11/bring-up-ipsec-tunnels.html

[2017-06-14 13:19] AstroTom opened #449 "Athena now supports a cli"
You can update the table.
http://docs.aws.amazon.com/cli/latest/reference/athena/

[2017-06-15 18:08] jlevy opened #452 "Discuss EC2 Systems Manager"
Likely as part of EC2 section.
https://aws.amazon.com/ec2/systems-manager/

- What does it offer? When should you use it? Common use cases?

[2017-06-15 18:10] jlevy commented on #452
https://github.com/aws/amazon-ssm-agent

Good source would also be Ben Whaley's talk from https://aws.amazon.com/events/community-day-sf/

[2017-06-15 18:16] jlevy opened #453 "Mention Stacker"
https://github.com/remind101/stacker

Useful and has some traction. Mentioned by Ben Whaley https://aws.amazon.com/events/community-day-sf/

See also #378

[2017-06-15 22:59] QuinnyPig opened #455 "TODO: Add Code of Conduct"
This one should have been done ages ago.

[2017-06-17 19:18] #449 closed

[2017-06-19 16:13] jlevy commented on #30
Another, from @ajkerrigan-mdsol : https://github.com/lambci/docker-lambda

[2017-07-01 00:50] jlevy commented on #455
Fixed #456

[2017-07-01 00:50] #455 closed

[2017-07-01 17:30] rjhintz opened #461 ""Noisy Neighbors": What, Identifying, Preventing, Mitigating, FUD"
Noisy neighbors, where other tenants in your multi-tenant VM hurt your instance's performance, have been an issue and are the subject of a lot of "IaaS is bad" FUD.

A short Slack [discussion](https://og-aws.slack.com/archives/C2J9C57BM/p1498925864892367) indicates there's some interest in a section on noisy neighbors.

@ThanosBaskous proposed:

[2017-07-07 02:00] rokka-n commented on #303
I can add few things.
- overall cn region looks like 3-5 years aws implementation from us/eu regions
- list of services and their specifics in cn region: http://docs.amazonaws.cn/en_us/aws/latest/userguide/services.html
- "core" services are available: EC2, DynamoDB, S3, Kinesis and SQS
- no sms/push notifications for SNS service
- account reps can help with a leased line to ap-southeast-1 (cost i

[2017-07-07 14:33] rjhintz commented on #303
@rokka-n  I have some questions about your helpful update:

- what do you mean "overall cn region looks like 3-5 years aws implementation from us/eu regions"?
- leased line. Do you mean Direct Connect from a site in China to ap-southeast-1/Singapore? Is this totally outside Chinese government technical regulation, that is, Great Firewall?
- "support is doing ok, but N"  <-I think some words are mi

[2017-07-08 00:51] lynnlangit opened #466 "Machine Learning on AWS"
A small group of us are working on a short guide to ML on AWS via a shared Quip document.  If you have domain expertise and would like to join LMK

[2017-07-10 05:50] niranjv commented on #466
I would like to help. How can I start?

[2017-07-10 08:18] kaihendry opened #467 "API Gateway Gotcha: No support for Form data"
For https://github.com/open-guides/og-aws#api-gateway-gotchas-and-limitations

This bit me hard, so it would be nice to see in the guide to help others lose time. Sorry, have not been able to find a more authoritative source than [this stackoverflow answer](https://stackoverflow.com/questions/41756190/api-gateway-post-multipart-form-data/41770688#41770688). :/

[2017-07-10 13:39] rokka-n commented on #303
I think services and it features that are available in cn region are older versions that were deployed in other regions. Obviously, there is no changelog available, so it is just my guess :)

Yes, for a "dedicated" line it is probably a direct connect one. I've heard that the latency and throughput is guaranteed for such connection, but haven't tested myself. If anybody needs details - just ask ac

[2017-07-10 19:00] lynnlangit commented on #466
@jlevy would it be possible for you to invite @niranjv to our shared Quip document?  -- thanks

[2017-07-11 02:04] kaihendry commented on #58
I successfully used https://www.npmjs.com/package/s3ls in a lambda function to list items in my S3 bucket.

[2017-07-11 21:57] adrianbg commented on #58
@weirded the character set is UTF-8. It should be possible to recursively subdivide the set of valid UTF-8 strings using the ListBucket operations' `marker` parameter so you can do the search efficiently without any extra knowledge of the key distribution in the bucket.

[2017-07-11 22:54] weirded commented on #58
@adrianbg yeah though most naming schemes I've seen use ASCII only, which can help narrow things down a lot more quickly than UTF-8. In our internal use case, the first 16 characters were hex strings, so we had only 16 characters to go by :)

[2017-07-11 23:37] adrianbg commented on #58
@weirded Yeah, mine were hex too. Probably like you I just broke up the listing by the first hexit. Didn't think of this binary search idea until later.

Actually, binary search wouldn't be bad at all, even with hex keys. Here's a quick example where the numbers are binary prefixes. The first few queries I would do are:

- LIST /00000000 (starts listing ASCII digits -- remember that S3 automatical

[2017-07-12 12:24] rdymek opened #469 "S3 "gotcha" on naming about causing issues with automation is not entirely accurate"
Within S3, under the "Key Prefixes" section, there is a statement: "🔸Note that sadly, the advice about random key names goes against having a consistent layout with common prefixes to manage data lifecycles in an automated way."

This is not true, in that lifecycles can have wildcards. And since S3 is a flat filesystem anyhow, and this randomization to create entropy does not affect that. Some exa

[2017-07-26 01:44] geekmuse commented on #445
Could this possibly be expanded to include PCI-compliant services as well?

[2017-08-09 23:18] rjhintz commented on #300
Just bumping to mention this still isn't answered in the forum post, though I bumped it there. However, one comment on 8 Dec 2016 is:

[2017-08-15 20:29] rdymek commented on #469
It takes 30 seconds to verify that it does use wild cards, and has been for
years!

On Tue, Aug 15, 2017 at 12:13 PM, Walter King <notifications@github.com>
wrote:

[2017-08-15 20:45] QuinnyPig commented on #469
Let's keep things friendly here, please.

It's extraordinarily difficult to test a lifecycle rule in less than a minute. :)

Everything I'm reading from AWS shows that wildcards aren't supported, and I'm not able to get a working lifecycle rule with wildcards in it. What am I missing here?

[2017-08-17 04:26] ayybe opened #487 "Incorrect statement Re: Cloud Formation template rollback"
Since Feb 2016, you can rollback your own stuck CFN stacks without contacting support:

Continue Rolling Back an Update for AWS CloudFormation stacks in the UPDATE_ROLLBACK_FAILED state
https://aws.amazon.com/blogs/devops/continue-rolling-back-an-update-for-aws-cloudformation-stacks-in-the-update_rollback_failed-state/

[2017-08-17 11:22] julienduchesne commented on #487
Using the CLI (can't do it in the console I think), you can also skip problematic resources.
http://docs.aws.amazon.com/cli/latest/reference/cloudformation/continue-update-rollback.html
-resources-to-skip (list)

[2017-08-18 22:21] ysubach commented on #12
I have some thoughts on HIPAA and AWS here: https://github.com/dekses/hipaa-cloud-resources/blob/master/docs/IaaS.md#amazon-web-services (this is work in progress, adding more sections).

That's probably too much for inclusion in this guide but I could work on a shortened version.

[2017-08-21 19:39] k3ypad commented on #13
Will add a few gotchas and a pointer or two now.

[2017-08-21 20:18] k3ypad commented on #13
https://github.com/open-guides/og-aws/pull/491

[2017-08-22 02:54] kaihendry commented on #467
Apex/Up has a nice form data wrapper and the only else worth noting is the API GW limits here:
http://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html#api-gateway-limits

[2017-08-22 02:54] #467 closed

[2017-08-24 18:24] k3ypad commented on #305
I can possibly take this - have requested access to Quip doc

[2017-08-24 20:39] QuinnyPig opened #492 "Data Transfer Pricing Fixes"
Going to gather these here for the next diagram version.

[2017-08-24 20:39] QuinnyPig commented on #492
If you are using an AWS origin, effective December 1, 2014, data transferred from origin to edge locations (Amazon CloudFront "origin fetches") will be free of charge.

[2017-08-24 20:40] QuinnyPig commented on #492
Region to region transfer varies for non-US regions. Sao Paulo is 16 cents per gigabyte outbound to other AWS regions. Sydney is 14 cents.

[2017-08-25 01:04] geekmuse commented on #256
There are some good inferences on this issue here:  https://read.acloud.guru/does-coding-language-memory-or-package-size-affect-cold-starts-of-aws-lambda-a15e26d12c76

[2017-08-29 12:55] QuinnyPig commented on #492
Huh. Both of these are already reflected. I'm just simple. Closing.

[2017-08-29 12:55] #492 closed

[2017-08-29 12:59] QuinnyPig commented on #445
Closing. It's in the guide now; piecemeal updates are welcome!

[2017-08-29 12:59] #445 closed

[2017-09-01 00:07] rdymek commented on #469
I have to apologize, as I knew I was doing wildcards with LIfecycles but it turns out "how" I was doing it was not directly using wildcards. First, to clear this up - I was wrong in my initial statement in that you actually cannot directly use wildcards specifically in lifecycle policies, so I stand corrected there. The way I am doing it is to tag the data. You can in fact tag data via wildcards a

[2017-09-01 00:07] #469 closed

[2017-09-01 14:10] #487 closed

[2017-09-03 00:09] minac commented on #393
Let me start by saying that I agree that s3fuse is not how S3 is supposed to be used. It's an eventually consistent object store which simulates a filesystem and not a block store.
That said, until very recently certain regions did not have access to EFS, and needed/wanted to access the same data from multiple EC2 instances.

So the tips I found along the way, in case you still want to use s3fuse

[2017-09-04 05:57] lobster1234 commented on #409
I believe @jpoley is referring to the service matrix which lists `NFS` under block storage/open source/build your own. This should say Ceph or Cinder and I agree. Please let me know @QuinnyPig and I will submit a PR.

[2017-09-06 11:09] omatrot opened #499 "Discuss AWS X-Ray Application instrumentation (PHP)"
The Official samples only discuss Node.js/Java/.NET

[2017-09-06 14:12] julienduchesne commented on #448
Found this guide to setup OpenVPN (without user limit). Took me 15 minutes and it was working perfectly fine.

http://ttlequals0.com/2015/08/16/openvpn-endpoint-on-aws-in-10-minutes/
The guide uses a script that does everything.

[2017-09-18 23:47] jlevy commented on #466
@lynnlangit sorry for delay; looks like it's your doc and you've disabled sharing on the doc — can you enable link sharing? (Quip is a bit confusing on this. :( )

[2017-09-18 23:51] jlevy commented on #466
@niranjv in any case can you ping me (jlevy) in the Slack group and we'll sort it out? There are a few areas for ML coverage where your help would be super appreciated.

[2017-09-19 00:11] jlevy commented on #305
We now have this started with https://github.com/open-guides/og-aws/pull/505 thanks to @lobster1234

@rjhintz @k3ypad Any follow-on PRs or feedback? I'll close this for now as I can't access that quip doc, but feel free to open a new PR or issue with additional changes!

[2017-09-19 00:11] #305 closed

[2017-09-19 05:40] jlevy commented on #466
@lynnlangit sorry for delay but  https://quip.com/hmAKA6bCQPy0

[2017-09-19 05:40] #466 closed

[2017-09-19 21:26] rjhintz commented on #305
I don't have any additional feedback at this time.

Rich
+1.510.984.2571

On Sep 19, 2017 8:12 AM, "Joshua Levy" <notifications@github.com> wrote:

[2017-09-23 01:58] niranjv commented on #466
@jlevy @lynnlangit Thanks for granting me access to the doc. Now how do I get started? Is there any specific item I can work on?

[2017-09-23 13:25] lynnlangit commented on #466
I've been framing cloud-based ML in terms of two offer types - serverless APIs (i.e. Vision, Speech, etc...) and custom model hosting (both regular and dnns, such as MxNet, Tensorflow etc...).  I would start by reframing the existing document this way.  Also I think comparisons to other cloud vendors, particularly GCP ML offerings is important.

[2017-09-23 14:21] lynnlangit opened #512 "Potential 'News' section"
We talked about this last year, but with re:Invent looming, I wanted to re-open this topic for discussion.  Should we have a 'News' section?  I would see that product announcements THAT WE ARE INTERESTED IN could be highlighted here.

Also I think that 'reporting from re:Invent' would be useful - maybe in the same section?

Other opinions?

[2017-09-23 14:36] lynnlangit opened #513 "Update EC2 Linux instances to per second billing after Oct"
New per Jeff Barr on Oct 2 -- https://aws.amazon.com/blogs/aws/new-per-second-billing-for-ec2-instances-and-ebs-volumes/

[2017-09-26 11:09] bgdnlp commented on #512
I wouldn't put it in the README.md. As I see it the guide is not about news. It would also need somewhat prompt merging of pull requests, otherwise it's no longer news, which is an extra effort.

A different document in the same repo, maybe. A document that can move fast. News from that document could be removed from it as they are integrated into the guide. Or not. But I wouldn't put that section

[2017-10-06 09:52] baynezy opened #520 "Scalr link 404s"
The link to Scalr in [README.md](https://github.com/open-guides/og-aws/blame/master/README.md#L809) now 404s. I don't know if it has been renamed or removed.

This is the [old content](https://webcache.googleusercontent.com/search?q=cache:KPBj4vDcMuMJ:https://github.com/Scalr/scalr+&cd=1&hl=en&ct=clnk&gl=uk).

@em0ney - you added it. Do you know the story?

[2017-10-13 18:32] ThanosBaskous commented on #520
Thanks @baynezy! Addressed by @QuinnyPig in #519.

[2017-10-13 18:32] #520 closed

[2017-10-15 23:23] Ollibe13 opened #522 "Include GorillaStack Logo In Services / Tools Infographic"
Per my discussion with @QuinnyPig  we would love to have the GorillaStack logo included in the infographic. While GorillaStack covers a number of automation scenarios, Cost Management would probably be the most appropriate section.

Thank you
![gorillastack-large-blue 1](https://user-images.githubusercontent.com/22188048/31590441-f783e58e-b25b-11e7-8bdf-0e3150f6d7c9.png)

[2017-10-31 00:20] QuinnyPig opened #535 "Note to self: Include license.txt"
I should copy the license information from the CC site into a LICENSE.txt if someone doesn’t beat me to it!

[2017-11-08 09:19] lobster1234 commented on #322
@QuinnyPig @ThanosBaskous can this issue be closed? The PR has been merged.

[2017-11-08 18:23] ThanosBaskous commented on #322
Good catch, @lobster1234. Closing.

[2017-11-08 18:23] ThanosBaskous commented on #322
Good catch, @lobster1234. Closing.

[2017-11-08 18:23] #322 closed

[2017-11-08 18:23] ThanosBaskous commented on #322
Good catch, @lobster1234. Closing.

[2017-11-11 22:43] #535 closed

[2017-11-15 23:36] QuinnyPig opened #544 "Great cross-account trust resource"
https://github.com/FernandoMiguel/AWS-Trust-CrossAccounts is a great resource. Leaving this as a reminder to integrate / point to it.

[2017-11-23 03:59] ThanosBaskous commented on #522
Hi @Ollibe13, thank you for your submission and for your interest in the Open Guide to AWS. We are trying to keep the graphic of services and tools to the most well known and significant set in a given space in order to keep the graphic manageable and the guide navigable, and I don't think that GorillaStack (yet) qualifies as being significant enough to squeeze out the others.

If you disagree wit

[2017-11-23 03:59] #522 closed

[2017-11-27 21:32] dkavanagh opened #546 "Add Step Functions"
I want to confirm I didn't miss something. I recently gave a talk on Step Functions after using them for a project. I'd be happy to kick start this if it's actually missing.

[2017-11-27 22:20] mohamedhosman opened #548 "Data Architect"

[2017-11-27 22:23] #548 closed

[2017-11-28 22:06] jlevy commented on #546
Yes, indeed it is not a service we yet cover at all.

Would be great if you'd like to get a first draft out! (Want to link your talk here?) Best way is just to start with a Quip doc that has similar structure to an existing section and then discuss/improve in Slack.
See https://github.com/open-guides/og-aws/blob/master/CONTRIBUTING.md#please-help and def join us in Slack! @QuinnyPig @ThanosBaskous

[2017-11-29 01:40] dkavanagh commented on #546
Awesome, will do.

[2017-11-30 11:58] walterheck opened #550 "More VPC info: limits and cross-region peering"
There's this page which is useful: http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html

Then at reinvent just today there was an announcement that cross-region peering is now available

I was also in a session by Matt Lehwess where he talked about something in the peering setup having a 1,5Gbps limit, I believe it was the IGW or VFW, not sure, sorry :)

[2017-11-30 23:55] Rivukis opened #552 "Service Icons"
It would be helpful to include the icon for each service. When looking an architectural diagram I see different AWS icons, but don't know some of icons are stand for.

[2017-12-05 21:32] lobster1234 commented on #552
Good idea!

[2017-12-07 19:21] QuantumHapticVirtualReality opened #559 "Name of the AWS document is, the document which discusses how AWS addresses the applicable NIST hybrid controls?"
Can anyone tell me what the name of the AWS document is, the document which discusses how AWS addresses the NIST controls?

[2017-12-12 16:56] gimoh commented on #448
While it is primarily an anti-censorship software, https://github.com/StreisandEffect/streisand/ uses Ansible to set up an OpenVPN (among other VPN servers, all optional) server and supports AWS and other providers.

[2017-12-17 19:31] pgrzesik commented on #127
Is someone working on basic overview of Elastic Beanstalk ?

[2017-12-17 19:33] pgrzesik opened #563 "Add section/expand ECS section with information about Fargate"
AWS recently announced great new service: https://aws.amazon.com/fargate/, it would be awesome to have a seperate secion dedicated to Fargate or at least a mention in ECS section.

[2017-12-20 23:51] lynnlangit opened #566 "Update AWS IoT section to include new features from re:Invent 2017"
I can start working on this, would anyone else be interested in joining me in this effort?

[2017-12-22 00:56] lynnlangit commented on #552
Maybe we should add a link to the AWS Architecture center (https://aws.amazon.com/architecture/icons/)? It includes the standard AWS icons in a number of usable formats, i.e. pptx, etc...

[2018-01-01 18:36] pgrzesik commented on #563
Just a little bump - if you think it's a good idea to add such section, I'll gladly handle PR for that, just let me know :)

[2018-01-02 03:34] ThanosBaskous commented on #563
That would be great @pgrzesik!

One thing that we request is that you do a version of the section in Quip first - example: https://quip.com/UrBzAwuYk4o4

The reason that we ask this is so that we can use Quip's collaboration features to more quickly help you edit the section - the turnaround ends up being much faster than GH. Once the section is reasonably mature, we'll ask you to move it to a PR.

[2018-01-03 15:54] davidjeddy opened #578 "Where can I donate?"
This is amazing! Blown away with the depth and breadth of information here! :takemymoney:
Where can I donate / give support?

[2018-01-03 17:05] QuinnyPig commented on #578
Thanks!

Feel free to submit PRs— content reigns supreme!

[2018-01-06 20:34] pgrzesik commented on #563
hey @ThanosBaskous, that sounds great! I will be offline for the next week, but if nobody will pick this topic up, I'd like to prepare a Quip version :) I'm just wondering - should it be a totally new section or a part of existing ECS, what do you guys think ?

[2018-01-08 16:55] davidjeddy commented on #578
Nono, I mean:
![382f90313fde253278147683a666aa27c79a4cdaa57791c383b1ad1f01d4bd26](https://user-images.githubusercontent.com/6232455/34681765-d921fc60-f46a-11e7-85fe-01bb3259fa75.jpg)

[2018-01-08 23:23] artemnikitin commented on #257
Looks like this ticket can be closed. The related change was merged long ago.

[2018-01-09 15:39] #578 closed

[2018-01-10 11:39] NeilBostrom opened #580 "Add section for MediaConvert service"
Be great to have a MediaConvert section. I've made a start on a basic Quip doc from the standard template.

https://og-aws.quip.com/DPCpAicFmfXB/og-AWS-MediaConvert-section-draft-copy

I'm not an expert in the service, just ran across this juicy gotcha that I felt I needed to write down before it gets lost in time.

[2018-01-16 01:30] Ollibe13 commented on #522
Hi @ThanosBaskous ,

Thanks for the direct reply - much appreciated. I also appreciated getting to know a bit more at re:Invent about the challenges you face in determining these kinds of things.

I respectfully submit batch.ly no longer exists as a brand and cloudyn is in the process of being migrated to an azure shop.

When it comes to cost optimisation & automation, GorillaStack without any pay

[2018-01-20 19:58] ThanosBaskous commented on #522
Hi @Ollibe13, thanks for bringing this back up - you make reasonable arguments. I'm sharing your proposal to add GorillaStack to the Services / Tools infographic to the other editors of the guide and will let you know the outcome.

[2018-01-20 20:06] ThanosBaskous commented on #563
Hi @pgrzesik, I think that the organizational model that makes the most sense in the long run is having a "section group" for Fargate + (ECS and EKS), parallel to the section group for Load Balancers + (CLB and ALB) (search through the latest version of the guide to see what I'm talking about). For now, a new section for Fargate, ideally positioned above ECS, would be fine and a good starting plac

[2018-01-20 20:33] #257 closed

[2018-01-20 20:33] ThanosBaskous commented on #257
Thanks @artemnikitin!

[2018-01-21 23:22] Ollibe13 commented on #522
Thank you!

[2018-01-25 17:43] kplimack opened #583 "can we get some docs on PrivateLink?"
please add PrivateLink docs when they become available.

[2018-01-25 18:02] rylectro opened #584 "Publish in user friendly format - https://www.gitbook.com"

[2018-01-29 19:23] pgrzesik commented on #563
Related PR: https://github.com/open-guides/og-aws/pull/586

[2018-01-31 07:05] acsrujan commented on #399
This could be closed.

[2018-02-01 03:13] ThanosBaskous commented on #399
Thanks @acsrujan!

[2018-02-01 03:13] #399 closed

[2018-02-01 03:22] ThanosBaskous commented on #584
Thanks for this suggestion, @rylectro - we're not interested at this time but feel free to continue the discussion on this issue.

[2018-02-01 03:22] #584 closed

[2018-02-02 23:10] #563 closed

[2018-02-19 01:56] sourav1985 opened #589 "Request : Requirement is - Highly available configuration of ArcGIS Portal, Server, and DataStore (Windows)."
## Request : Requirement is - Highly available configuration of ArcGIS Portal, Server, and DataStore (Windows).
- [ ] Bug
- [ ] New Feature
- [ ] Refactor
- [X ] Question
- [ ] Documentation
- [ X] Tests
- [ ] Other

## Details
* ...

**I was working on this issue and I got struck so , I was going though some of the documents there is a AWS templets closely matching to the requirement   .... will

[2018-03-05 20:57] stanzheng opened #595 "Fix broken build"
It looks like this URL is a duplicate and causing a failing build

https://github.com/open-guides/og-aws/pull/592

https://travis-ci.org/open-guides/og-aws/builds/346608333?utm_source=github_status&utm_medium=notification

[code]

[2018-03-09 15:24] stanzheng commented on #595
it looks like its a false alarm.. repushed same build and it was fine. Closing this issue

[2018-03-09 15:24] #595 closed

[2018-03-09 19:58] Ashex opened #596 "EC2 ELB: Verify DescribeTags Limit"
I stumbled upon this earlier today and unfortunately I lack the ALBs to validate it. Essentially it turns out that the `DescribeTags` API action has a hard limit of 20 LoadBalancers per request, the interest bit is that this appears to only apply to Classic Load Balancers. First bit is that ALB and NLB follow 2015-12-01 API while CLB follows the 2012-06-01 API.

The 2012-06-01 API Specification fo

[2018-03-16 06:18] Viv3k opened #597 "Live streaming using AWS MediaLive and MediaPackage."
Im trying to live stream content using Amazon AWS MediaLive and MediaPackage. I have configured android app to push data to MediaLive  (we also tried the pull flow) from a RTMP stream generated by an android app (app pushes to endpoint generated by MediaLive).

MediaLive shows 'Network In' and 'Network Out' however 'Ingress' and 'Egress' activity of MediaPackage shows empty values. I did provide c

[2018-04-16 08:36] gbonfiglio commented on #300
Hello all - thanks for reporting and sorry for the delay in getting this sorted. I just updated the forum post, and FAQs have been updated too https://aws.amazon.com/elasticloadbalancing/faqs/.

In short, for CLB and ALB Inter-AZ traffic is not charged while using Cross-Zone. For NLB it is.

[2018-06-12 20:58] sidewinder12s opened #608 "Regions general topic"
Thoughts on adding a "general" topic on regions?

Things like if your looking to cover all continents, you can look at this region in each continent for service availability/lowest pricing and go from there?

[2018-06-12 20:59] QuinnyPig commented on #608
Sounds like a decent plan-- want to take a stab at it?

[2018-07-02 21:47] lynnlangit commented on #378
Having recently found 'Terraform religion' I would love to see this section integrated as it stands in the Quip doc.

[2018-07-20 11:50] edgarpf opened #615 "Broken link"
Link in "include versions or hashes in filenames" leads to 404 error.

[2018-07-22 05:41] salexpdx commented on #461
I added a section to the EC2 gotchas.  Given the breadth of AWS services today, adding this to a general "when to use AWS" section seems a bit to broad of a topic to me.

[2018-07-31 14:09] edgarpf commented on #615
salexpdx solved the issue.

[2018-08-01 19:58] DavidTPate commented on #615
Please close the issue @edgarpf if it is resolved.

[2018-08-02 17:05] Kumuda123 opened #622 "Amazon AWS sms services"
I am currently developing an app(in Flutter ) which can send sms messages to users whenever data is updated in Firebase. I was thinking to use Amazon AWS to implement the same. Is there a way I can integrate Firebase and AWS ? Or will i need to integrate it ?

[2018-08-02 17:12] AlekKras commented on #622
It's fairly easy to integrate Firebase with AWS SNS which can send SMS messages. I don't know your full setup on Firebase, but I am assuming you can integrate Jenkins to spot when data was updated on Firebase which would either trigger AWS Lambda function or AWS SNS directly.

Also, I am not sure if that's relevant to your project, but this <a href="https://aws.amazon.com/blogs/messaging-and-targe

[2018-08-02 17:12] AlekKras commented on #608
Sounds good! I see value in it.

[2018-08-04 13:04] limay opened #624 "Amazon Aurora is 5.7 version compatible now"
The gotcha described here https://github.com/open-guides/og-aws#rds-aurora-gotchas-and-limitations is obsolete now, as new Mysql Aurora instances can be created with MySQL 5.7 version compatibility.

[2018-08-07 08:22] AstroTom opened #625 "Bug with spaces at the end of Tag keys"
(I tried to add this directly in the  "General Visibility"  section with a pull request, but I guess I do not have permission.)

Tags Gotcha:
There is a bug in the ASG console where spaces after tag names are preserved. So if you type "Name " with an extra space at the end you will not get the expected behavior. This is probably true in other locations and SDKs also. Be sure you do not add trailin

[2018-08-14 14:35] DavidTPate commented on #625
@AstroTom You'll need to fork the repository (ie. make your own copy) then make your changes and open a PR. There's a [decent guide](https://gist.github.com/Chaser324/ce0505fbed06b947d962) in the Gist I linked if you want to give it a try.

[2018-08-19 09:45] omenking commented on #546
I had thought maybe it already existed only to find the links are dead.
Is it common to pre-link before seeing an article? I ask since then I have an idea what is missing and what is not.

![screen shot 2018-08-19 at 5 43 47 am](https://user-images.githubusercontent.com/7776/44307595-e053fd00-a372-11e8-8819-c543ffb9e4c1.png)

[2018-09-11 10:37] yarapavan opened #632 "Redshift Tips: Top 14 Performance Tuning Techniques for Amazon Redshift"
Add to **Redshift Tips** section:

A list of performance tuning techniques for Redshift -

https://www.intermix.io/blog/top-14-performance-tuning-techniques-for-amazon-redshift/

[2018-10-02 07:39] maishsk commented on #625
@AstroTom  should be closed - I see that https://github.com/open-guides/og-aws/pull/621 was merged..

[2018-10-02 07:41] maishsk commented on #624
@limay I don't see that the link you posted works - is this still an issue?

[2018-10-02 14:00] limay commented on #624
Sorry, this link goes exactly to the problem: https://github.com/open-guides/og-aws#rds-aurora-mysql-tips

The only change is that now you can have MySQL 5.7 version compatibility on Aurora, so the mentioned problems should not be anymore.

[2018-10-04 19:50] #615 closed

[2018-10-14 19:30] maishsk commented on #625
Closing  was merged in #621

[2018-10-14 19:30] #625 closed

[2018-10-15 12:51] maishsk commented on #622
@Kumuda123 Is there any additional help you need with this issue ?

[2018-10-15 12:56] maishsk commented on #608
@sidewinder12s would you like to go at expanding this topic?

[2018-10-15 12:59] maishsk commented on #596
@Ashex would you like to take a bash at adding something to reflect this?

[2018-10-15 14:37] maishsk commented on #597
@Viv3k I think that you would get a speedier response if you would ask this in the Slack channel.

Do you still want this issue left open?

[2018-10-15 14:41] maishsk commented on #589
Hi @sourav1985 is there something in the documentation missing?

If you have a question that you would like an answer for  - you can [join the Slack channel](https://og-aws-slack.lexikon.io/) - and ask it there.

Do you have any objections to closing out this issue?

[2018-10-15 14:42] #583 closed

[2018-10-15 17:31] maishsk commented on #589
Thanks!

[2018-10-15 17:31] #589 closed

[2018-10-16 06:17] number5 commented on #622
AFAIK, Google FCM/GCM/Firebase only support Android Push Notifications (or iOS Push Notifications via APN), it didn't support SMS

If you want to send SMS you might want to consider providers like Twilio

[2018-10-16 07:11] Viv3k commented on #597
@maishsk You can go ahead and close the issue.

[2018-10-16 13:13] #597 closed

[2018-10-17 18:59] #624 closed

[2018-10-17 19:00] maishsk commented on #580
@NeilBostrom Would  you like to take a go at writing something up?

[2018-10-17 19:02] maishsk commented on #566
@lynnlangit It would be great if you could work on this.

[2018-10-17 19:03] maishsk commented on #559
Hi @QuantumHapticVirtualReality
If you have a question that you would like an answer for  - you can [join the Slack channel](https://og-aws-slack.lexikon.io/) - and ask it there.

[2018-10-17 19:05] maishsk commented on #550
@walterheck would you to have a go at adding this in?

[2018-10-19 15:57] lynnlangit commented on #566
I can - but not until Dec due to current work obligations

[2018-10-25 15:13] Ashex commented on #596
@maishsk I can probably launch a bunch with terraform then try this, hopefully get to it within the next week but I can't make any promises.

[2018-11-02 02:47] sidewinder12s commented on #608
If I get time, I just haven't had any lately.

[2018-11-03 12:58] ejazr83 commented on #262
Has there been any movement on this?

If there is a new scaffold for OPen Guide for Azure setup, I would be keen to contribute and bring others in as well.

[2018-11-03 13:36] ejazr83 commented on #452
Systems Manager is no longer EC2 specific and can now be used S3 and RDS resources as well.

Can this be a seperate section in the Monitoring and Management section rather than under EC2?

[2018-11-11 12:41] maishsk commented on #546
Thanks @gliptak

[2018-11-11 12:41] #546 closed

[2018-11-15 10:33] AntoineY opened #658 "The information and the Data Transfer Costs for Load balancing need to be updated"
Hello,

According to the FAQ : https://aws.amazon.com/elasticloadbalancing/faqs/ and to gbonfiglio's answer here : https://github.com/open-guides/og-aws/issues/300, the information and diagram about the cost of Load Balancing costs.

CLB and ALB Inter-AZ traffic is not charged while using Cross-Zone while it is with NLB.

[2018-11-21 11:36] maishsk opened #660 "Update snowball edge resources"
https://aws.amazon.com/blogs/aws/coming-soon-snowball-edge-with-more-compute-power-and-a-gpu/

[2018-11-21 11:38] maishsk opened #661 "Update Auto Scaling with new release of Predictive autoscaling"
https://aws.amazon.com/blogs/aws/new-predictive-scaling-for-ec2-powered-by-machine-learning/

[2018-11-21 11:41] maishsk opened #662 "Update S3 - block public Access"
https://aws.amazon.com/blogs/aws/amazon-s3-block-public-access-another-layer-of-protection-for-your-accounts-and-buckets/

[2018-11-21 11:42] maishsk opened #663 "Update Cloudformation - drift detection"
https://aws.amazon.com/blogs/aws/new-cloudformation-drift-detection/

[2018-11-21 11:44] maishsk opened #664 "Update Route53 Hybrid Resolver"
https://aws.amazon.com/blogs/aws/new-amazon-route-53-resolver-for-hybrid-clouds/

[2018-11-21 19:12] maishsk opened #665 "Add RAM Resource Access Manager"
https://aws.amazon.com/blogs/aws/new-aws-resource-access-manager-cross-account-resource-sharing/

[2018-12-26 05:06] QuinnyPig commented on #127
It’s you. Go for it!

[2018-12-26 20:14] kevinslin commented on #127
just submitted a pull request. first time contributing to this project so please let me know if anything is off

[2018-12-26 20:49] #127 closed

[2019-01-18 02:32] gonchigars commented on #9
was thinking about the same. Can I take it forward and add a section on patterns. I am sure it will have lots inputs and edit.

[2019-01-18 02:41] gonchigars commented on #9
Also this should we add this in a new page? As diagrams will make the page more lengthy ?

[2019-01-23 01:43] jakauppila opened #682 "New Section: Amazon SSO"
https://aws.amazon.com/single-sign-on/

[2019-01-23 06:59] maishsk commented on #682
Thanks for submitting the issue - would you like to take a go at providing the content for this?

[2019-02-21 17:39] senorkrabs commented on #411
Agree with @maximrozin, per https://aws.amazon.com/vpc/pricing/:

[2019-03-09 16:23] pbudzon opened #694 "List of services - potential updates needed?"
Hi,

The "Which Services to Use" section could use an update, I think. Some questions I'd like to raise:

1. Why is "Cloudtrail" in "Optional"? There is no alternative that will record API calls made to AWS, and it's a critical tool for having an audit trail.

2. `⛓WAF: Web firewall for CloudFront to deflect attacks` - WAF can now be used in front of ALBs which makes it a bit more useful than it u

[2019-03-15 07:51] mclang commented on #54
I was cleaning up my watch/starred/subscription list and found this old thread.

I'm not sure if this is needed anymore, but as an example, i'm currently backing up files into S3 using AWS-CLI. The bucket I use are setup to use encryption as follows:

1. Create S3 Bucket with following policy:
[code]

2. Create Bucket User with following policy:
[code]

3. Make backup using AWS-CLI:
[code]

[2019-04-01 06:11] RakeshAlajpur opened #696 "Send MFA token with access key for S3 bucket, file upload using c# programmatically"
I am trying to add MFA (Multi Factor Authentication) in my application, where i am going to store object in aws S3 bucket. I went through AWS documentation but could not find anything where we can pass MFA tokedn while sending any request to AWS programmatically in C#.

Here is my working code snippet without MFA,

var awsCredentials = new BasicAWSCredentials(accessKey, secretKey);
_client = new A

[2019-04-05 10:45] acsrujan commented on #596
Just stumbled upon this.. I've 33 ALBs and the command did give the error.

[code]

[2019-04-26 12:37] acsrujan opened #699 "Packets per second limits in ec2"
AWS has packets per seconds limit in ec2 instances. It'd be a good idea to list down approx number of http requests supported by each family and type of instances.

Found from here: https://stressgrid.com/blog/pps_limits_in_ec2/

I'd take a stab at it when I've time.

[2019-05-11 15:41] shwetajoshi601 commented on #94
Hello, I have recently got my SA certification. I felt there are many things that can easily get tricky for anybody who is not too familiar with cloud, networking, etc. Hence, some last minute revision points to skim through a day before the cert exam would be of great help. It could be under a section - "Points to Remember". What do you all think?

[2019-05-22 10:36] gowthamravichandran opened #703 "New Section: Amazon Cognito"
https://aws.amazon.com/cognito/

[2019-05-31 20:14] PatMyron commented on #161
@jlevy still experiencing this

[2019-06-04 21:20] PatMyron commented on #161
@jlevy @QuinnyPig tried that email as well and got this reponse:
`Your message wasn't delivered to og-aws@lexikon.io because the address couldn't be found, or is unable to receive mail.`

`The response was:
550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at https://support.googl

[2019-06-04 21:25] PatMyron commented on #161
related: https://github.com/Miserlou/zappa-slack-inviter/issues/5

guess I signed up a while ago 🧐

[2019-09-03 09:21] liuchenggang2014 opened #715 "data transfer cost cross az"
![data transfer cost](https://user-images.githubusercontent.com/7160463/64160641-dbbf9100-ce6e-11e9-9663-7279916af3b9.png)

here is the offical document from "https://aws.amazon.com/ec2/pricing/on-demand/":

""Data transferred "in" to and "out" from Amazon EC2, Amazon RDS, Amazon Redshift , Amazon DynamoDB Accelerator (DAX), and Amazon ElastiCache instances or Elastic Network Interfaces across Ava

[2019-09-11 18:57] mignaulo commented on #715
You get billed 0.01 at AZ A for sending, then 0.01 at AZ B for receiving - 0.01 + 0.01 per direction - I think the graph is correct.

[2019-09-19 16:48] paulwakeford commented on #696
Best to ask this in the Slack group, @RakeshAlajpur.

[2019-09-19 16:54] paulwakeford opened #718 "Add: multi-account recommendations"
e.g. Organizations (inc OUs and SCPs), Control Tower, Landing Zone.

[2019-09-19 16:56] paulwakeford opened #719 "Add: Section on AWS events"
AWS-led: Summits, re:Invent (links to the many guides).
Community: meetup user groups, community days

[2019-10-03 19:38] alrah003 opened #720 "the provided Slack channel (og-aws) Doesn't work"
Hello,

I'm interested in joining your group on slack but I couldn't log in via the link provided on the GitHub. can you enroll me in the group?

[2019-10-03 19:48] FernandoMiguel commented on #720
@alrah003 you mean https://og-aws-slack.lexikon.io/ ?

[2019-10-03 20:40] alrah003 commented on #720
yes, that what I meant.

[2019-10-03 20:42] alrah003 commented on #720
I've already signed up but didn't receive the invite on my inbox

[2019-10-08 09:06] IsmaelMartinez commented on #720
same here.

[2019-10-22 17:44] Helicer commented on #720
Hello - encountering this issue too. I've gotten email bounces while writing to the email address also. Curious if anyone was able to get in / invite? Thanks!

[2019-11-04 15:31] hopkinsnji commented on #720
What's the status in this? I need to join!

[2019-11-15 03:15] prakashkumar007 commented on #720
Same here,the invite is not working and the workaround to.

[2019-11-16 17:36] fotag commented on #720
same here

[2019-12-16 18:38] PaulChristophel commented on #720
Having this issue as well

[2019-12-17 20:26] aharper273 commented on #720
This is the link I found hyperlinked in the og-aws github and it seems to work.

https://og-aws.slack.com/join/shared_invite/enQtODM2NjY1NDQ2MTgxLWYwY2VjZDBiOGU1YTJjOWUwNTY3NjEyODA0NzY1N2MxNjhhZmYwZTU0NjNhMjNlNGVjODdlNTI4N2Y1YWIwNGE

[2019-12-17 23:18] IsmaelMartinez commented on #720
Added a wee PR to add that as an extra link. Thanks @aharper273

[2019-12-25 14:22] muslimecoin opened #736 "aws help"
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export BUCKET_NAME=
export AWS_REGION=
export SENDGRID_API_KEY=
export PASSWORD_RESET_SALT=
export TOKEN_MAXIMUM_AGE=
pleez how to get all thes variables

[2020-01-14 01:21] kemathur opened #737 "Link in High Availability section does not work"
The following link shows an access denied error:

http://media.amazonwebservices.com/architecturecenter/AWS_ac_ra_ftha_04.pdf

[2020-02-09 18:02] ccfrost opened #739 "More info on "one-time forgiveness" of exercise AMT?"
(removed)

[2020-02-09 18:03] #739 closed

[2020-02-25 10:13] karthikghan commented on #720
interestingly, the link doesn't work anymore.

but now the original link works (  https://og-aws-slack.lexikon.io/ )

[2020-02-25 10:15] karthikghan commented on #720
[](https://og-aws.slack.com/join/shared_invite/enQtODM2NjY1NDQ2MTgxLWYwY2VjZDBiOGU1YTJjOWUwNTY3NjEyODA0NzY1N2MxNjhhZmYwZTU0NjNhMjNlNGVjODdlNTI4N2Y1YWIwNGE)

[2020-02-25 20:14] lejmr opened #740 "Transit gateway pricing"
Would it be possible to encompase even TGW? I happy to do that, but i would appreciate the source file, so I could somehow add the particual prices.

[2020-02-27 20:13] gromovadarya90 opened #741 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-03-04 13:06] sneko commented on #720
Can confirmed what @karthikghan said, the link has expired :(

[2020-03-05 12:24] sneko commented on #720
Hey, I hope it will help someone, here is the right answer: https://github.com/open-guides/og-aws/pull/732#issuecomment-595199896

--> http://slackhatesthe.cloud/

[2020-04-05 04:27] neilthecellist commented on #720
Interestingly enough, for someone on the AWS Discord, `http://slackhatesthe.cloud/` worked, but `https://slackhatesthe.cloud/` did not.

[2020-04-05 05:18] prakashkumar007 commented on #720
Thank it worked.

Kind Regards,
Prakash Kumar

  On Sun, 5 Apr 2020 at 9:57 am, neilthecellist<notifications@github.com> wrote:

Interestingly enough, for someone on the AWS Discord, http://slackhatesthe.cloud/ worked, but https://slackhatesthe.cloud/ did not.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-23 14:47] hassankhan opened #749 "[DynamoDB] Empty values for string are now supported"
Relevant AWS blog post: https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-dynamodb-now-supports-empty-values-for-non-key-string-and-binary-attributes-in-dynamodb-tables/

Happy to create a PR, was just wondering if the old text should completely be replaced, or if another line should be added after [the existing bulletpoint](https://github.com/open-guides/og-aws/blob/master/README.md#L1452

[2020-05-24 01:46] bschaatsbergen commented on #749
Do what fits you and think is best and easiest to maintain on long term.

Incase the whole section is outdated, replace it or just re-format it properly.

Thanks for taking a look!

[2020-07-18 01:41] findgriffin commented on #718
+1

Multi accounts is considered  "best practice" within Amazon (but especially AWS).

I would be willing to contribute to this area.

[2020-07-18 01:43] findgriffin commented on #608
Is this still a thing that people want? I can take a stab at it.

[2020-08-10 11:27] engineerbaz opened #753 "Slack is not active"
Hi
Thumbs Up for this.
Just to inform you that slack link is not working .. please correct it so we can join channel

[2020-08-21 20:14] volodiakachmar opened #754 "Amazon"

[2020-10-07 03:34] acsrujan commented on #736
Hi, it looks like you're new to AWS and Linux too.
I'd recommend you to go through following documentation for access key, secret key, region. - https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-quickstart.html

Bucket name is whichever S3 bucket you've created.
Sendgrid API Key, password reset salt and token maximum age aren't related to AWS and they're specific to your application.

[2020-10-07 03:50] acsrujan commented on #753
Hi,

You can join using http://slackhatesthe.cloud
One of the buttons on README has correct link.

[2020-10-29 17:51] pcarney8 opened #756 "Expand EKS alternatives to Include other Kubernetes distributions (self-managed and managed)"

[2020-10-30 11:40] n4naveen05 opened #758 "AWS open guide"

[2020-12-06 04:51] amirelemam commented on #753
@engineerbaz Slack channel is currently working fine. Can you confirm it? If so, you could close this issue.

[2020-12-06 15:24] engineerbaz commented on #753
Ok thanks

[2020-12-07 08:44] acsrujan commented on #758
Hey, can you add some description on this issue?

[2020-12-07 08:45] acsrujan commented on #754
Hey, can you add some description on this?

[2020-12-07 20:36] QuinnyPig commented on #754
While I agree that Amazon is at times an issue, we need a bit more context here.

[2020-12-07 20:36] #754 closed

[2020-12-15 03:26] #758 closed

[2020-12-17 15:21] JoshuaFox opened #766 "How can I join the og-aws Slack channel? The link is obsolete."
There is a link in the Readme, but this "shared invitation" is no longer active. How can I join?

[2020-12-18 10:41] rishabh96b commented on #766
Looks like it is working. Check this out:
[Join og-aws](https://og-aws.slack.com/join/shared_invite/enQtOTUwMjQzOTkyNTI5LTZkNDNjMTAyZDU1ZjQ1ZTU2NjBiZGVmOGJiN2Y2MjEzM2ZlZWEyMGIwNzUzNTJlMzM5YmY3Yzg3MTRiMGE0NjI#/)

[2020-12-18 11:32] JoshuaFox commented on #766
Thank you. I succeeded in connecting (through http://slackhatesthe.cloud)

[2020-12-20 03:57] acsrujan opened #769 "Link checker has to ignore example URLs in the doc"
Link checker currently flags non-existent example urls such as `https://BUCKET.s3.dualstack.REGION.amazonaws.com`

May be, we can ignore all the URLs in the format ` ` from our checker and consider only markdown links?

[2021-01-07 11:11] acsrujan commented on #769
Closing this, as the latest commit has `-w` option for few of the websites.

[2021-01-07 11:11] #769 closed

[2021-01-07 11:17] acsrujan commented on #766
Can be closed post: #767

[2021-01-07 11:17] acsrujan commented on #753
Can be closed post: #767

[2021-02-19 17:10] Enclavet opened #775 "Created a editable data transfer HTML5 diagram"
Not sure if this is useful but I created an data transfer HTML5 diagram that is editable.

https://awscostmap.s3.amazonaws.com/index.html

You can edit the notes on the left and any of the values in the map. Created for accounts that have different pricing than the public ones.

[2021-03-18 09:09] tvb commented on #775
@Enclavet Looks interesting, but I got CORS errors.

[2021-03-18 17:33] Enclavet commented on #775
@tvb Fixed.

[2021-03-23 18:58] tvb commented on #775
@Enclavet works! However, the resulting drawing is enlarged so it does not fit my screen.
<img width="1532" alt="Schermafbeelding 2021-03-23 om 19 58 28" src="https://user-images.githubusercontent.com/1263414/112202854-256afa80-8c12-11eb-87dd-010d75a3a946.png">

Do you run a Github repo for this so we can move the issues to there?

[2021-03-23 19:36] Enclavet commented on #775
I'll probably create one when I get a chance. Did you try resizing the browser window and reloading? It usually takes up the full size of the browser during the load, but after the load it wont resize on the window.

[2021-03-25 22:00] kornicameister commented on #775
@Enclavet may I suggest linking to appropriate pieces of documentation for further explanation on why certain communication do cost money while another one is more expensive or free?

[2021-03-26 07:39] tvb commented on #775
@Enclavet resizing works, but it's not ideal

<img width="1552" alt="Schermafbeelding 2021-03-26 om 08 37 19" src="https://user-images.githubusercontent.com/1263414/112598386-c920fa00-8e0e-11eb-9405-0d7e94bfb751.png">

[2021-04-06 01:59] Afoxcute opened #776 "Please how can i use aws lambda to launch firefox"

[2021-04-06 11:26] maishsk commented on #776
Thanks for opening the issue.

Can you please explain more about what you are trying to achieve - and if this is an issue with the information in the repo?

If not - it would be better to raise you question in the slack and no here as an issue on the repo.

[2021-04-06 16:51] Afoxcute commented on #776
thanks for your response @maishsk. Actually, i am trying to use was lambda to launch firefox and firefox should visit a website. Nothing fancy.

[2021-04-07 12:10] maishsk commented on #776
So I am going to close this out - because this would be better to ask someone in the [Slack channel](http://slackhatesthe.cloud/) and not something that we will address as part of the repo.

[2021-04-07 12:10] #776 closed

[2021-04-07 12:10] maishsk commented on #776
So I am going to close this out - because this would be better to ask someone in the [Slack channel](http://slackhatesthe.cloud/) and not something that we will address as part of the repo.

[2021-04-26 16:04] Enclavet commented on #775
Finally got around to creating a github:

https://github.com/Enclavet/awsdatatransfermap

You can create issues there and I will respond there.

[2021-06-29 02:16] thecloudgarage opened #780 "Accessing ALB based EC2 target groups via Direct Connect"
Is there a consideration that visualizes the network costs for all egress traffic for applications residing on EC2 behind ALB (internal) but accessed via Direct Connect. What would be the costs Direct Connect data transfer charges + ALB LCU or ONLY ALB LCU or ONLY Direct Connect data transfer charges. Seems this scenario is not covered in the diagram.

[2021-08-17 12:08] jpluscplusm opened #782 "NLB access across VPC peering has evolved since #611"
Hey all 👋

#611 reflected the AWS docs at that point in time but, reviewing them today I can't see any indication on the linked AWS troubleshooting page that cross-VPC NLB connectivity/reachability is still a function of consumer instance type.

https://github.com/awsdocs/elb-network-load-balancers-user-guide/commit/21dc1ffe9c9dab6e24f181b8b310dfc88382f134#diff-b3c41e866253fd714e911e5df66b9c58de3e

[2021-10-19 16:53] nagibyro opened #784 "ALB HTTP 2 & GRPC"
The AWS ALB's now support GRPC & HTTP 2 end to end as of [10/29/2020](https://aws.amazon.com/blogs/aws/new-application-load-balancer-support-for-end-to-end-http-2-and-grpc/). Which invalidates some of the ALB sections Gotchas and can expand the ALB basics section.

[2021-10-29 23:24] m9e opened #788 "Data Transfer Costs for Direct Connect incorrect lower bound"
Data Transfer costs for DX rendered in the diagram as ".03 - .11", but per https://aws.amazon.com/directconnect/pricing/ the US region DX egress is actually .02 - .11. Would be happy make an update and submit a pull for the png if there's a source tool available.

[2021-11-01 05:56] #715 closed

[2021-11-25 08:34] jon-trust opened #791 "Complete Threat model for Amazon S3"
https://github.com/trustoncloud/threatmodel-for-aws-s3

Disclaimer: we are the authors.

[2021-12-05 14:46] evairmarinho opened #792 "Add - Security and IAM: MFA"
IAM does not support MFA and external identity providers like AD or Google. That is, it is not possible to make IAM policies to force MFA to allow or nefare actions on AWS.

Acces this in section **Important points about MFA-protected API access**: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_mfa_configure-api-require.html

[2021-12-09 17:10] psharik1 opened #793 "DataTransfer Cost - EC2-ALB/CLB"
While referencing figure in provided link [DataTransfer-ELB,]( https://github.com/open-guides/og-aws#aws-data-transfer-costs) EC2 -> CLB/ALB shows .01 Cross AZ..as per my understanding - Data Transfer (in/Out) from EC2-ELB is free for Regional Data Transfer. https://aws.amazon.com/elasticloadbalancing/faqs/

[2021-12-10 22:37] chenrui333 opened #794 "VPC transfer cost for RDS proxy"
👋 when I used RDS proxy org, we saw VPC transfer cost bump, I wonder if it can be surfaced in here. Thanks!

[2022-01-08 06:05] Arifff23 commented on #792
hello sir,

[2022-02-03 22:54] Madarsheik7 opened #796 "Aws"

[2022-02-05 18:38] vasili111 opened #797 "Slack link is no longer active and needs update"
Could you please update slack invite link? It is no more active and needs update.

![image](https://user-images.githubusercontent.com/7338799/152654505-855994db-e884-4249-b182-c58f6bcca94a.png)

![image](https://user-images.githubusercontent.com/7338799/152654534-c8b24a5d-e7fc-4cf2-acdb-70f488fb4ef3.png)

[2022-02-09 08:02] dgokcin commented on #797
I also would like to join the channel and confirm that the link is not working. Any help is appreciated.

[2022-02-09 19:20] QuinnyPig commented on #797
Slack link expired. Refreshed; sorry for the trouble!

[2022-02-09 19:20] #797 closed

[2022-02-09 19:21] #766 closed

[2022-05-23 07:05] contactcuong opened #802 "Allow linked/memeber account access "Bill details by account""
Hi Team - I have done to setup AWS Organizations with 4 accounts (including management account):

[code]

From `[management account]`, I am able to view [Bill details by account](https://us-east-1.console.aws.amazon.com/billing/home?region=us-east-1#), and I wanted the AWS Account named `[company-billing]` also able to see such menu when I do switching role to that account but unfortunately it's o

[2022-05-28 00:22] nitrocode opened #804 "Add AWS Amplify"

[2022-06-06 13:43] echetoui opened #806 "Aws"

[2022-08-18 15:18] ardaasln opened #808 "Add Cloudfront HTTP/3 - QUIC support"

[2022-08-24 07:12] ahmad82pkn commented on #793
+1

[2022-08-24 15:03] QuinnyPig commented on #793
Well spotted! The NLB charges for this, the other two don't. I admit this thing is a bear to update; I've been tweaking the version that lives at https://www.duckbillgroup.com/understanding-data-transfer-in-aws/.

Someone wanna take a crack at updating the OG-AWS diagram? :D

[2022-09-01 04:28] benhemp commented on #341
I believe this is complete? https://github.com/open-guides/og-aws/pull/628/files

Though now It needs updating :)